[main]
# This data is for jsonrpc communication between processes.
password = XXX
host = localhost
port = 8069

[electrum]
# This data is for electrum-fair wallet.
wallet_path = /home/ocp/.electrumfair/wallets/ocp_wallet
password = XXX
gap_limit = 5
use_change = False


[network]
server = electrum.faircoin.world:51812:s
proxy = None
fee = 1000000
