{% extends "work_base.html" %}

{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "Account History for" %} {{ resource.identifier }}{% endblock %}

{% block extra_head %}
<style>

    tr.even td
    {
        background-color:#f8faee;
    }

    /*th
    {
        background-color:#C8D6E8;
    }*/

    .table-bordered tr:last-child th {
        border-radius: 0;
    }

</style>

{% endblock %}

{% block body_class %}projects{% endblock %}

{% block body_base %}
<div class="container">
  {% include "_messages.html" %}
  <div>
        <legend>
            {% if resource.owner %}
              <a href="{% url 'members_agent' agent_id=resource.owner.id %}">{{ resource.owner.name }}</a> >
            {% endif %}
            {% if resource.id %}
              <a class="indent" href="{% url "manage_faircoin_account" resource_id=resource.id %}">{% trans "FairCoin Account" %}</a> >
            {% endif %}
            {% trans "History" %}: &nbsp;&nbsp;

            <div class="subnav">
                <a class="indent" href="https://chain.fair-coin.org/address/{{ resource.faircoin_address.address }}" target="_blank" >{% trans "Blockchain" %}</a>
            </div>
        </legend>

        <p>
            {% trans "Current Balance" %}:
              {% if wallet %}
                {% if not confirmed_balance == unconfirmed_balance %}
                    {{ confirmed_balance }} (-> {{ unconfirmed_balance }})
                {% else %}
                    {{ confirmed_balance }}
                {% endif %}
                {{ resource.unit_of_quantity }}
              {% else %}
                <span class="error"><b>{% trans "Not available now" %}</b></span>
              {% endif %}
            <br />Address: <a target="_blank" href="https://chain.fair-coin.org/address/{{ resource.faircoin_address.address }}">{{ resource.faircoin_address.address}}</a>
        </p>


        <table style="width: 100%;" class="table table-bordered table-hover table-condensed" >
            <thead>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "From" %}</th>
                <!-- <th>{% trans "Project" %}</th> -->
                <th>{% trans "Qty" %}</th>
                <th>{% trans "URL" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Process" %}</th>
                {% if resource.faircoin_address.address %}
                    <th>{% trans "To Address" %}</th>
                    <th>{% trans "Tx State" %}</th>
                    <th>{% trans "Chain" %}</th>
                {% endif %}
            </thead>
            <tbody>
                {% for event in events %}
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.event_type }}</td>
                        <td>{{ event.from_agent }}</td>
                        <!-- <td>{{ event.context_agent }}</td> -->
                        {% if event.event_type == "Give" and event.transaction_state == "new" %}
                            <td style="text-align: right;" >{{ event.quantity_formatted }} (+fee)</td>
                        {% else %}
                            <td style="text-align: right;" >{{ event.quantity_formatted }}</td>
                        {% endif %}
                        <td>
                            {% if event.url %}
                                <a href="{{ event.url }}" target="_blank">{% trans "Open" %}</a>
                            {% endif %}
                        </td>
                        <td class="edit" id="{{ event.id }}">{% if event.description %}{{ event.description|urlize }}
                            {% else %} {{ event.commitment.description|urlize }} {% endif %}
                       </td>
                        <td>
                            {% if event.process %}
                                <a href="{{ event.process.get_absolute_url }}" target="_blank">{{ event.process.name }}</a>
                            {% endif %}
                        </td>
                        {% if resource.faircoin_address.address %}
                            <td>{{ event.to_faircoin_address }}</td>
                            <td>{{ event.transaction_state }}</td>
                            <td>
                            {% if event.faircoin_transaction.tx_hash %}
                                <a href="https://chain.fair-coin.org/tx/{{ event.faircoin_transaction.tx_hash }}" target="_blank">{% trans "On Chain" %}</a>
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <div class="pagination">
        <span class="step-links">
            {% if events.has_previous %}
                <a href="?page={{ events.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}

            <span class="current">
                {% trans "Page" %} {{ events.number }} {% trans "of" %} {{ events.paginator.num_pages }}.
            </span>

            {% if events.has_next %}
                <a href="?page={{ events.next_page_number }}">{% trans "next" %}</a>
            {% endif %}
        </span>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
    <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.jeditable.mini.js" %}"></script>

{% endblock %}


{% block extra_body %}
    {{ block.super }}
    <script type="text/javascript">

    $(document).ready(function(){


      {% if resource.owner == agent or resource.owner in agent.managed_projects %}
        $('.edit').editable(
            function(value, settings) {
               //console.log(this);
               //console.log(value);
               //console.log(settings);
               var posting = $.post('{% url "edit_faircoin_event_description" resource_id=resource.id %}',
                   {id:$(this).attr('id'), value:value}
               );
               posting.done(function(data){
                   if(data !== 'Ok') alert('Error saving the new description. '+data);
               }).fail(function(data) {
                   console.log(data['statusText']);
                   out = '';
                   for(var d in data){
                     out += d+': '+data[d]+' \n';
                   }
                   alert( "ERROR out: "+out );
               });
               return(value);
            }
            , {
              //submit : 'OK',
              //type : 'text',
              tooltip : 'Click to edit...',
              placeholder : '<em>...click to write</em>',
            }
        );
       {% endif %}
    }); // end document.ready


    </script>
{% endblock %}
