{% extends "work_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Exchanges" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

ul, li {
  min-height: 23px;
}

.totals {
    /*border: solid 2px firebrick;
    background-color: oldlace;
    margin-bottom: 12px;
    padding-left: 1em;*/
  font-size: 105%;
  padding-bottom: 16px;
  padding-top: 16px;
  max-width: 300px;
}
span.total {
  font-weight: bold;
  padding: 4px 10px;
  display: inline-block;
}
#btn-export {
    margin-bottom: 8px;
}
.title {
    font-size: 1.1em;
    font-weight: bold;
  color: #476B6B;
}

#exchangeTypeForm {
  /*min-height: 20px;*/
}
.use-case {
  width: 140px;
}
#new_exchange #exchangeForm > div#id_exchange_type_chzn {
  min-width: 350px;
}
#new_exchange .chzn-drop {
  min-width: 348px;
}
#new_exchange .chzn-drop .chzn-search input {
  min-width: 313px;
}

#new_exchange {
  float: right;
  width: 794px;
  text-align: right;
}
#new_exchange select {
  margin: 4px;
}
#new_exchange .btn {
  margin: 6px 0;
}
#new_exchange .chzn-container {
  margin-top: 5px;
  display: inline-table;
  text-align: left;
}

#new_exchange .chzn-container .chzn-results li {
  padding: 4px 6px 0;
}

.span12 {
  margin-left: 0px;
  max-height: 97px;
}
.span8 {
  margin-left: 0px;
}
#exchangeForm p {
  margin: 9px 0 0 0;
}
.filter {
  float: right;
  width: 310px;
}


</style>

{% endblock %}

{% block body_class %}exchange{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
		<legend>
        <a class="indent" href="{% url 'members_agent' agent_id=project.id %}">{{ project.name }}</a>: {% trans "Exchanges" %}
            <div class="subnav">
                {% if request.user.is_staff or request.user.agent.agent in project.managers %}
                   <a class="indent" href="{% url "project_resources" agent_id=project.id %}">{% trans "Resource Types" %}</a>
                {% endif %}
                <a class="indent" href="{% url "your_projects" %}">{% trans "Your Projects" %}</a>
            </div>
        </legend>
        <div class="span12">
          {% if request.user.agent.agent in project.managers or request.user.is_staff %}
          <div id="new_exchange" class="miniform">
            <form id="exchangeForm" style="display: inline;" method="POST" action="">

                {% csrf_token %}
                {% trans "Choose an exchange type to create a new Exchange:" %}
                {% if nav_form.exchange_type %}
                  {{ nav_form.exchange_type }}
                  &nbsp; <input style="display: inline; vertical-align: top;" type="submit" name="new-exchange" value="{% trans 'New Exchange' %}" class="btn btn-primary" />
                {% else %}
                  <span class="error">{% trans "Not found any related exchange type!" %}</span>
                {% endif %}
            </form><br/>
            <form id="exchangeTypeForm" style="display: inline;" method="POST" action="" >
                {% csrf_token %}
                <span style="line-height: 32px;">&nbsp;</span>{% trans "To create a new exchange Type, please request it to an Ocp admin." %}
                <!-- {{ new_form.use_case }}
                &nbsp; <input style="display: inline; vertical-align: top;" type="submit" name="new-exchange-type" value="{% trans 'New Exchange Type' %}" class="btn btn-primary btn-mini" /> -->
            </form>
          </div>

          {% endif %}
          <div class="totals infobox">
            <span class="total">Incoming total: {{ total_transfers }} </span><br/>
            <span class="total">Outgoing total: {{ total_rec_transfers }} </span>
{% comment %}
            <br />* Note these totals are meaningful only if the events selected all use the same currency.
{% endcomment %}
          </div>
          <br />
        </div>
      <div class="span8">
		  {% if exchanges %}
        <h3>
          {% trans "List of Exchanges" %}:
        </h3>
			  <ul>
			    {% for x in exchanges %}
                    <li>
                        <a href="{% url "exchange_logging_work" context_agent_id=x.context_agent.id exchange_type_id=0 exchange_id=x.id %}"><b>{{ x }}</b></a>  {% trans "created by" %} {{ x.created_by }}
                        {% if user = x.created_by or user.is_superuser%}
                            <a class="btn btn-info btn-mini" href="{% url "exchange_logging_work" context_agent_id=x.context_agent.id exchange_type_id=0 exchange_id=x.id %}">{% trans "Change" %}</a>
                            {% if x.is_deletable %}
                                <form
                                    style="display: inline;"
                                    class="delete-form"
                                    id="deleteForm{{ exchange.id }}"
                                    action="{% url "delete_exchange" exchange_id=x.id %}"
                                    method="POST" >
                                    {% csrf_token %}
                                    <input type="hidden" id="next" name="next" value="exchanges-all" />
                                    <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete contribution" >{% trans "Delete" %}</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </li>
                    {% if x.transfers.all %}
                        <ul>
                            {% for transfer in x.transfers.all %}
                                <li>{{ transfer }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if x.work_events %}
                        <ul>
                            {% for event in x.work_events %}
                                <li>{{ event }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
				{% endfor %}
			</ul>
		  {% endif %}
        </div>
        <div class="span3 filter miniform">
{% comment %}
            {% if exchanges %}
                <div>
                    <a href=" {% url "exchange_events_csv" %}?event-ids={{ event_ids }}" id="btn-export" class="btn btn-primary" title="Export filtered list to csv (comma separated value) format" >{% trans "Export CSV File" %}</a>
                </div>
            {% endif %}
{% endcomment %}
            <h3>{% trans "Filter the List" %}</h3>
            <form id="filter-form" action="." method="POST">
	            {% csrf_token %}
                <div id="div_id_start_date" class="control-group" style="display: inline;" >
                    <label for="id_start_date" class="control-label required-field" style="display: inline; vertical-align: text-bottom;" >
                        {% trans "Start date " %}
                    </label>
                    <div class="controls" style="display: inline;" >
                        {{ dt_selection_form.start_date }}
                    </div>
                </div>
                <div id="div_id_end_date" class="control-group" >
                    <label for="id_end_date" class="control-label required-field" style="display: inline;  vertical-align: text-bottom; " >
                        {% trans "End date  " %}
                    </label>
                    <div class="controls" style="display: inline;" >
                        {{ dt_selection_form.end_date }}
                    </div>
                </div>
	            <p><input type="checkbox" class="category" id="all" name="all" value="all" {% if select_all %}checked="yes"{% endif %} /> {% trans "All in the date range" %}</p>
                <p class="title"> {% trans "Filter by Type" %} </p>
                {% for uc in usecases %}
                  <h5>{{ uc.name }}</h5>
                  {% for et in ets %}
                    {% if et.ocp_record_type.parent.parent.id = uc.id or et.ocp_record_type.parent.id = uc.id %}
                      <p><input type="checkbox" class="category" id="{{ et.id }}" name="{{ et.id }}" value="{{ et.id }}" /> {{ et.name }}</p>
                    {% endif %}
                  {% endfor %}

                {% endfor %}
{% comment %}
                {% if references %}
	            <p class="title"> {% trans "Accounting Reference" %} </p>
	            {% for ar in references %}
	                <p><input type="checkbox" class="category" id="{{ ar.code }}" name="{{ ar.code }}" value="{{ ar.code }}" /> {{ ar.name }}</p>
	            {% endfor %}
	            {% endif %}
{% endcomment %}
	            <input type="hidden" id="categories" name="categories" value=" {{ selected_values }} " />
	            <input type="submit" id="btn-filter" name="submit" class="btn btn-info" value="{% trans 'Filter' %}" />
            </form>
        </div>

    </div>
{% endblock %}

{% block extra_script %}
	<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

    $( "#help" ).toggle( function(){
        $('#help-content').show("slide", { direction: "right" }, "slow" );
        $( "#help" ).text("Hide Help");
      }, function(){
        $('#help-content').hide("slide", { direction: "right" }, "slow");
        $( "#help" ).text("Show Help");
    });

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

    $(".chzn-select").chosen();

		var selectedCats = "{{ selected_values }}";

		$('.category').each(function(){
			var cat = $(this)[0];
      if (selectedCats.indexOf(cat.name+',') > -1 || selectedCats.indexOf(','+cat.name) > -1 || selectedCats == cat.name ) {
				$(this).prop('checked', true);
			}
		});

		$('.category').click(function()
		{
			var checkedCats = [];
			var checkedBox = $(this)[0];
			var allBox = $('#all')[0];
			if (checkedBox == allBox)
			{
				$('.category').each(function()
				{
		            $(this).prop('checked', false);
				});
				$('#all').prop('checked', true);
				checkedCats.push('all');
			}
			else
			{
				$('#all').prop('checked', false);
				$('.category').each(function()
				{
					var cat = $(this)[0];
		            if (cat.checked)
					{
						checkedCats.push(cat.value);
					}
				});
			}
			$('#categories').prop('value', checkedCats);
		});


	}); // end document.ready
    </script>

{% endblock %}
