{% extends "work_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
{% load mptt_tags %}

{% block head_title %}{% trans "Exchanges" %}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />
<link rel="stylesheet" href="{% static 'css/skin-lion/ui.fancytree.min.css' %}" />

<style>

ul, li {
  min-height: 23px;
}

.totals {
    /*border: solid 2px firebrick;
    background-color: oldlace;
    margin-bottom: 12px;
    padding-left: 1em;*/
  padding-bottom: 16px;
  padding-top: 16px;
  max-width: 300px;
  float: left;
  width: 295px;
}
span.total {
  font-weight: bold;
  font-size: 105%;
  padding: 4px 10px;
  display: inline-block;
}
#btn-export {
    margin-bottom: 8px;
}
.title {
    font-size: 1.1em;
    font-weight: bold;
  color: #476B6B;
}

#exchangeTypeForm {
  /*min-height: 20px;*/
}

#new_exchange {
  float: left;
  margin-left: 13px;
  width: 794px;
  /*text-align: right;*/
}

.use-case {
  width: 140px;
}
/*#new_exchange #exchangeForm > div#id_exchange_type_chzn, #exchangeForm > div#id_resource_type_chzn, div#id_skill_type_chzn {
  min-width: 300px;
}
#new_exchange .chzn-drop {
  min-width: 298px;
}
#new_exchange .chzn-drop .chzn-search input {
  min-width: 263px;
}*/


#new_exchange .chzn-container .chzn-results li {
  padding: 4px 6px 0;
}


#new_exchange select {
  margin: 4px;
}
#new_exchange .chosen-container {
  /*margin-top: 5px;*/
  display: inline-table;
  text-align: left;
  margin: 5px 2px;
  display: inline-table;
}


.span12 {
  margin-left: 0px;
  /*max-height: 97px;*/
}
.span8 {
  margin-left: 0px;
}
#exchangeForm p {
  margin: 3px 0 0 9px;
}
.filter {
  float: right;
  width: 310px;
}

.showhide {
  color: #734279;
  margin-left: 3px;
  font-weight: bold;
  cursor: pointer;
}

/* TABS */
.ui-tabs h4 {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
}
.ui-tabs {
  border: none;
  background: none;
}
.ui-widget {
  font-size: inherit;
  font-family: inherit;
  padding: inherit;
}
.ui-tabs .ui-tabs-nav {
  display: inline-block;
  border: none;
  background: none;
  margin: 0 0 -2px 0 !important;
  padding-left: 0px;
}
.ui-tabs .ui-tabs-panel {
  border: 1px solid #aaaaaa;
  padding: 7px 12px;
  color: inherit;
  background-color: #f0f0da;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -khtml-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;

  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -khtml-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;

  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
  -khtml-border-top-right-radius: 7px;
  border-top-right-radius: 7px;

  /*-moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
  -khtml-border-top-left-radius: 7px;
  border-top-left-radius: 7px;*/

  margin-top: -1px;
  margin-bottom: 10px;
}
.ui-tabs .ui-tabs-nav li {
  margin-bottom: 1px;
  font-size: 1.0em;
  background-color: #f0f0da;
}
.ui-tabs-nav a {
  color: inherit;
}
.ui-widget-content a {
  color: #fff;
}
.ui-widget-content a.disabled {
  color: inherit;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #734279;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #476B6B;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: none;
  background-color: #f0f0da;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -2px;
    padding-bottom: 2px;
}

.usecase_tab {
  padding: 10px;
}

/* TREES */

div.fancytree-radio {
  /*float: left;*/
  display: inline-table;
}
ul.fancytree-container {
  background: none;
  border: none;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  /*line-height: 1.3em;*/
}

</style>

{% endblock %}

{% block body_class %}exchange{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
		<legend>
        <a class="indent" href="{% url 'members_agent' agent_id=project.id %}">{{ project.name }}</a> > {% trans "Exchanges" %}
            <div class="subnav">
                {% if request.user.is_staff or request.user.agent.agent in project.managers %}
                   <a class="indent" href="{% url "project_resources" agent_id=project.id %}">{% trans "Resources" %}</a>
                {% endif %}
                <a class="indent" href="{% url "your_projects" %}">{% trans "Your Projects" %}</a>
            </div>
        </legend>
        <div class="span12">
          <div class="totals infobox">
            <span class="total">Incoming total: {{ total_transfers }} </span><br/>
            <span class="total">Outgoing total: {{ total_rec_transfers }} </span>

            <br />{% trans "* Note these totals are meaningful only if the events selected all use the same currency. (We'll do a multi total per unit-type box soon)" %}

          </div>
          {% if request.user.agent.agent in project.managers or request.user.is_staff %}
          <div id="new_exchange" class="miniform">
            <form id="exchangeForm" style="display: inline;" method="POST" action="">
                <h3>{% trans "Create a new Exchange" %}</h3>
                {% csrf_token %}
                {% if nav_form.used_exchange_type %}
                  <span>{% trans "Choose a previously used <b>exchange type</b> to copy the model:" %}</span>
                  {{ nav_form.used_exchange_type }}<br/>
                {% endif %}
                <span><span>{% trans "Or search an available exchange type:" %}</span> {{ nav_form.exchange_type }}  &nbsp; <span>{% trans "Or make a new one..." %}</span><span class="showhide" id="sh-exchange_type" >(SHOW)</span></span><br/>
                <div class="list" id="list-exchange_type" style="margin-top: 5px;">
                  <div id="tabs">
                    <ul>
                        {% for case in usecases %}
                        <li><a href="#{{ case.clas }}"><b>{{ case.name }}</b></a></li>
                        {% endfor %}
                    </ul>
                    <!-- <div style="float:right;">
                      {{ nav_form.exchange_type }}
                    </div> -->
                    {% for case in usecases %}
                      <div id="{{ case.clas }}" class="usecase_tab">
                        <div style="clear:both;">
                          {% if nav_form.exchange_type %}
                            <span>{% trans "...choosing a <b>use case</b>:" %}</span>
                              <br/>
                              <div id="{{ case.clas }}_tree" class="exchange_type_tree fancytree-radio" style="max-width:300px;">
                                <ul class="root" id="treeData" style="/*display: none;*/">
                                {% recursetree Etype_tree %}
                                  {% if node.exchange_type or request.user.is_staff %}
                                    {% if case.typ in node.get_ancestors %}
                                      <li id="Eid_{{ node.id }}" {% if node.ocp_artwork_type %}data-related="Rid_{{ node.ocp_artwork_type.id }}"{% endif %} >{% if not node.exchange_type %}<em>{% endif %}{{ node.name }}{% if node.exchange_type %} < {% endif %}
                                        {% if not node.exchange_type %}</em>{% endif %}
                                        {% if not node.is_leaf_node %}
                                          <ul class="children">
                                              {{ children }}
                                          </ul>
                                        {% endif %}
                                      </li>
                                    {% elif node.clas == case.clas %}
                                        {{ children }}
                                    {% endif %}
                                  {% endif %}
                                {% endrecursetree %}
                                </ul>
                              </div>

                          {% else %}
                            <span class="error">{% trans "Not found any related exchange type! contexts:" %}</span>
                          {% endif %}
                        </div>
                      </div>

                  {% endfor %}
                    <div id="resource_skill">
                      <!-- <form id="exchangeTypeForm" style="display: inline;" method="POST" action="" >
                        {% csrf_token %} -->
                        {% if nav_form.resource_type %}
                        <div style="clear:left;">
                          <span>{% trans "and/or, to narrow your options," %}</span>
                          <span>{% trans "choose a main <b>resource type</b> branch:" %}</span>
                          <br/>
                          <div id="resource_type_tree" class="resource_type_tree fancytree-radio" style="max-width:300px; min-width:200px; float:left;">
                            <ul class="root" id="treeData" style="/*display: none;*/">
                              {% recursetree Rtype_tree %}
                              {% if True or node.resource_type or request.user.is_staff %}
                              <li id="Rid_{{ node.id }}">{% if not node.resource_type %}<em>{% endif %}{{ node.name }}{% if node.resource_type %} < {% endif %}
                                                                                                                                                      {% if not node.exchange_type %}</em>{% endif %} {{ node.parents }}
                                {% if not node.is_leaf_node %}
                                <ul class="children">
                                  {{ children }}
                                </ul>
                                {% endif %}
                                </li>
                                {% endif %}
                                {% endrecursetree %}
                            </ul>
                          </div>
                          <div style="display:block;">
                            &nbsp; {{ nav_form.resource_type }} &nbsp;
                            <span>{% trans "if nothing fits:" %}&nbsp;
                              <a href="#addResourceTypeModal" role="button" class="btn btn-primary btn-mini" data-toggle="modal" title="Create a new physical resource type" style="">{% trans "New Resource Type" %}</a></span>

                          </div>
                        </div>
                        <div style="clear:left;">
                          <span>{% trans "or choose a related <b>skill verb</b> (service time):" %}</span>
                          <br/>
                          <div id="skill_type_tree" class="skill_type_tree fancytree-radio" style="max-width:300px; min-width:200px; float:left;">
                            <ul class="root" id="treeData" style="/*display: none;*/">
                              {% recursetree Stype_tree %}
                              {% if True or node.resource_type or request.user.is_staff %}
                              <li id="Sid_{{ node.id }}">{% if not node.resource_type %}<em>{% endif %}{{ node.gerund|title }}{% if node.resource_type %} < {% endif %}
                                                {% if not node.exchange_type %}</em>{% endif %}
                                {% if not node.is_leaf_node %}
                                <ul class="children">
                                  {{ children }}
                                </ul>
                                {% endif %}
                                </li>
                                {% endif %}
                                {% endrecursetree %}
                            </ul>
                          </div>
                          <div style="display:block;">
                            &nbsp; {{ nav_form.skill_type }} &nbsp; <span>{% trans "if no one fits:" %}&nbsp;
                            <a href='#' class='btn disabled btn-mini'>{% trans "New Skill Service Type" %}</a></span>
                          </div>
                        </div>
                        <div style="clear:left;">

                        </div>
                        {% else %}
                        <div>
                          <span class="error">{% trans "Not found any related resource type!" %}</span>
                        </div>
                        {% endif %}
                      <!-- </form> -->
                    </div>
                </div>
              </div>
              <!-- {% if request.user.is_staff %}<br/><span><b>Contexts:</b>
                {% for ag in project.related_all_agents %} {{ ag.nick }}, {% endfor %}
              </span>{% endif %} -->
              <span id="new_name"></span>
              &nbsp; <input style="display:inline; vertical-align:top; float:right; margin: 0px 0px 7px 5px;" type="submit" name="new-exchange" value="{% trans 'New Exchange' %}" class="btn btn-primary" />
            </form>

            <!-- <form id="exchangeTypeForm" style="display: inline;" method="POST" action="" >
                {% csrf_token %}
                <p style="line-height:32px; text-align:right;">&nbsp;{% trans "To create a new exchange Type, please request it to an Ocp admin." %} </p>
                {{ new_form.use_case }}
                &nbsp; <input style="display: inline; vertical-align: top;" type="submit" name="new-exchange-type" value="{% trans 'New Exchange Type' %}" class="btn btn-primary btn-mini" />
            </form> -->

            <div class="modal hide fade" id="addResourceTypeModal" tabindex="-1" role="dialog" aria-labelledby="commit" aria-hidden="true"  style="width:590px;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>{% trans "Add a new Resource Type:" %}</h3>
              </div>
              <div class="modal-body">
                <form class="validateMe" id="commitForm" enctype="multipart/form-data" action="" method="POST" >
                  {% csrf_token %}
                  {{ Rtype_form }}

                  <input type="hidden" id="next" name="next" value="exchanges_all" />
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                    <input type="submit" class="btn btn-primary" name="submit" value="{% trans 'Save' %}" />
                  </div>
                </form>
              </div>
            </div>

          </div>

          {% endif %}

      </div>
      <div class="span8">
		  {% if exchanges %}
        <h3>
          {% trans "List of Exchanges" %}:
        </h3>
			  <ul>
			    {% for x in exchanges %}
                    <li>
                        <a href="{% url "exchange_logging_work" context_agent_id=x.context_agent.id exchange_type_id=0 exchange_id=x.id %}"><b>{{ x }}</b></a>  {% trans "created by" %} {{ x.created_by }}
                        {% if user = x.created_by or user.is_superuser%}
                            <a class="btn btn-info btn-mini" href="{% url "exchange_logging_work" context_agent_id=x.context_agent.id exchange_type_id=0 exchange_id=x.id %}">{% trans "Change" %}</a>
                            {% if x.is_deletable %}
                                <form
                                    style="display: inline;"
                                    class="delete-form"
                                    id="deleteForm{{ exchange.id }}"
                                    action="{% url "delete_exchange" exchange_id=x.id %}"
                                    method="POST" >
                                    {% csrf_token %}
                                    <input type="hidden" id="next" name="next" value="exchanges-all" />
                                    <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete contribution" >{% trans "Delete" %}</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    </li>
                    {% if x.transfers.all %}
                        <ul>
                            {% for transfer in x.transfers.all %}
                                <li>{{ transfer }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if x.work_events %}
                        <ul>
                            {% for event in x.work_events %}
                                <li>{{ event }} </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
				{% endfor %}
			</ul>
		  {% endif %}
        </div>
        <div class="span3 filter miniform">
{% comment %}
            {% if exchanges %}
                <div>
                    <a href=" {% url "exchange_events_csv" %}?event-ids={{ event_ids }}" id="btn-export" class="btn btn-primary" title="Export filtered list to csv (comma separated value) format" >{% trans "Export CSV File" %}</a>
                </div>
            {% endif %}
{% endcomment %}
            <h3>{% trans "Filter the List" %}</h3>
            <form id="filter-form" action="." method="POST">
	            {% csrf_token %}
                <div id="div_id_start_date" class="control-group" style="display: inline;" >
                    <label for="id_start_date" class="control-label required-field" style="display: inline; vertical-align: text-bottom;" >
                        {% trans "Start date " %}
                    </label>
                    <div class="controls" style="display: inline;" >
                        {{ dt_selection_form.start_date }}
                    </div>
                </div>
                <div id="div_id_end_date" class="control-group" >
                    <label for="id_end_date" class="control-label required-field" style="display: inline;  vertical-align: text-bottom; " >
                        {% trans "End date  " %}
                    </label>
                    <div class="controls" style="display: inline;" >
                        {{ dt_selection_form.end_date }}
                    </div>
                </div>
	            <p><input type="checkbox" class="category" id="all" name="all" value="all" {% if select_all %}checked="yes"{% endif %} /> {% trans "All in the date range" %}</p>
                <p class="title"> {% trans "Filter by Type" %} </p>
                {% for uc in usecases %}
                  <h5>{{ uc.name }}</h5>
                  {% for et in ets %}
                    {% if et.ocp_record_type.parent.parent.id = uc.id or et.ocp_record_type.parent.id = uc.id %}
                      <p><input type="checkbox" class="category" id="{{ et.id }}" name="{{ et.id }}" value="{{ et.id }}" /> {{ et.name }}</p>
                    {% endif %}
                  {% endfor %}

                {% endfor %}
{% comment %}
                {% if references %}
	            <p class="title"> {% trans "Accounting Reference" %} </p>
	            {% for ar in references %}
	                <p><input type="checkbox" class="category" id="{{ ar.code }}" name="{{ ar.code }}" value="{{ ar.code }}" /> {{ ar.name }}</p>
	            {% endfor %}
	            {% endif %}
{% endcomment %}
	            <input type="hidden" id="categories" name="categories" value=" {{ selected_values }} " />
	            <input type="submit" id="btn-filter" name="submit" class="btn btn-info" value="{% trans 'Filter' %}" />
            </form>
        </div>

    </div>
{% endblock %}

{% block extra_script %}
	<!-- <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <script src="{% static 'js/chosen.jquery.js' %}"></script>
  <script src="{% static 'js/jquery.fancytree-all.min.js' %}"></script>
{% endblock %}

{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

	$(document).ready(function(){

    $( "#help" ).toggle( function(){
        $('#help-content').show("slide", { direction: "right" }, "slow" );
        $( "#help" ).text("Hide Help");
      }, function(){
        $('#help-content').hide("slide", { direction: "right" }, "slow");
        $( "#help" ).text("Show Help");
    });

		$('.date-entry').datepicker({ dateFormat: "yy-mm-dd" });

    $('#tabs').tabs({
      classes: {
        "ui-tabs": "",
        "ui-tabs-panel": "ui-corner-all infobox"
      },
      beforeActivate: function( event, ui ) {
        //alert(ui.oldPanel.parent().html());//find('li span.fancytree-expanded').nextAll('ul').html());
        //ui.oldPanel.find('li span.fancytree-selected .fancytree-checkbox').click();
        //ui.oldPanel.find('li span.fancytree-expanded').nextAll('ul').hide();
        //ui.oldPanel.find('li span.fancytree-expanded .fancytree-expander').click();
        $('#id_exchange_type_chosen .search-choice .search-choice-close').click();
        //$('#id_exchange_type_chosen .search-field').blur().parent().parent().blur().prev().click();//.click();
        ui.oldPanel.parent().click();
      },
      activate: function( event, ui ) {
        //alert(ui.newTab.html());
        setTimeout( function(){
          $('#id_exchange_type_chosen .search-field').blur().parent().parent().blur().prev().click();//.click();
          ui.newTab.find('a').click();
        }, 200);
      }
    });

    $(".list").hide();
    $(".showhide").click(function(event){
      var id = event.target.id;
      var listId = '#list-' + id.split('-')[1];
      $(listId).slideToggle(200);
      $(this).text($(this).text() == '(SHOW)' ? '(HIDE)' : '(SHOW)');
    });


    var ObjTree = {
      checkbox: true,
      selectMode: 1, // 1:single, 2:multi, 3:multi-hier
      icon: false,
      dblclick: function(event, data) {
        data.node.toggleSelected();
        update_tree(data);
      },
      keydown: function(event, data) {
        if( event.which === 32 ) {
          data.node.toggleSelected();
          update_tree(data);
          return false;
        }
      },
      select: function(event, data){
        var s = data.tree.getSelectedNodes();
        if(s.length > 0){
          update_tree(data);
        } else {
          update_tree(data);
        }
      },
      beforeSelect: function(event, data){
        //update_tree(data);
      },
      deactivate: function(event, data) {
        //update_tree(data);
      },
      click: function(event, data){
        //var out = 'OB - ';
        //for(var i in data){
        //  out += i+': '+data[i]+', ';
        //};
        //alert(data.targetType);
        var nod = data.tree.getActiveNode();
        if(nod && nod != data.node) nod.setActive(false);

        if(data.targetType == 'expander' || data.targetType == 'checkbox'){

        } else {
          data.node.toggleSelected();//setSelected(true);
          data.node.setFocus();
          return false;
        }
        //update_tree(data);
      }
    };

    $('.resource_type_tree, .skill_type_tree, .exchange_type_tree').fancytree( ObjTree );

    {% for case in usecases %}
        //$('#{{ case.clas }}_tree').fancytree( ObjTree );
        /*{
          checkbox: true,
          selectMode: 1, // 1:single, 2:multi, 3:multi-hier
          icon: false,
          dblclick: function(event, data) {
            data.node.toggleSelected();
          },
          keydown: function(event, data) {
            if( event.which === 32 ) {
              data.node.toggleSelected();
              return false;
            }
          },
        });*/
    {% endfor %}

    function update_tree(data){
      //if(nodo){
      var tid = data.tree.$div.attr('class').split(' ')[0];
      var tarr = tid.split('_');
      tid = tarr[0]+'_'+tarr[1];

      var ide = tarr[0].split('')[0].toUpperCase()+'id';

      var $tab = data.tree.$div.parent().parent();

      //var out = 'OB - ';
      //for(var i in tid){
      //  out += i+': '+tid[i]+', ';
      //};

      if( tid == "exchange_type" ){ //$tab.attr('id') == tid ){ // only the exchange type matches
        $tab = $('#exchangeForm');
        //ide = 'Eid';
        //tid = 'exchange_type';
      }
      //alert('UPDATE tree tid:'+tid+' $tab:'+$tab.attr('id')+' ide:'+ide);

      var snd = data.tree.getSelectedNodes();

      if(snd.length > 0){  // SELECTED IN TREE

        if(data.tree.hasFocus() && $tab.find('#id_'+tid+'_chosen').find('li.search-choice').length == 0){  // TREE HAS FOCUS

          if(snd[0].key != data.node.key || snd.length > 1){
            alert('EIN? snd[0]:'+snd[0].key+' node:'+data.node.key);
          };
          var karr = data.node.key.split('_');
          if(karr[0] == ide){

            $tab.find('#id_'+tid+'_chosen').find('li.result-selected').removeClass('result-selected').addClass('active-result');
            $tab.find('#id_'+tid).find('option').removeAttr('selected');

            $tab.find("#id_"+tid).trigger("chosen:updated");

            opts = $tab.find('#id_'+tid).find('option').each(function(){
              //$(this).removeAttr('selected'); //alert(karr[1]);
              if( $(this).attr('value') == karr[1] ){
                $(this).attr('selected','selected');
              };
            });
            //alert(opts.length);
            if( tid == "exchange_type" ){
                if(!$.isEmptyObject(data.node.data)){
                  var rel = data.node.data.related; //$tab.find('li#'+data.node.key).first().attr('related');//data.node.related;
                  var rar = rel.split('_');
                  if( rar[0] == 'Rid' ) {
                    var rtree = $('#resource_type_tree').first();//resource_skill').find('#'+rel);
                    rtree.fancytree("getTree").activateKey('Rid_'+rar[1]);
                    var node = rtree.fancytree("getTree").getActiveNode();
                    node.setSelected(true);//toggleSelected();
                    //node.setFocus(true);
                    node.setActive(false);
                    node.setFocus(false);
                    rtree.fancytree("getRootNode").visit(function(node){
                      //node.setExpanded(false);
                      // TODO deactivate other not related branches
                      // mptt: get_ancestors(ascending=False, include_self=False)
                      //var anc = node.get_ancestors(true);
                    });
                    rtree.fancytree("getTree").setFocus(false);
                  }
                  //alert('rel: '+rel+' rtree:'+rtree.length);
                }
            }

          } else {
            alert('KARR: '+karr[0]);
          }
          //alert('UpdateTree Put / tid:'+tid+' xid:'+karr[0]+' id:'+karr[1]+' SCH:'+$('#id_'+tid+'_chosen').find('li.search-choice').length );//nodo.key);

          $tab.find("#id_"+tid).trigger("chosen:updated");

          if(!$tab.find('#id_'+tid+'_chosen').find('li.search-choice').length && tid){

            //  E R R O R   the choice is not present!

            //$("#id_"+tid).trigger("chosen:updated");
            var ind = $tab.find('#id_'+tid).find('option[selected]').index();

            //$("#id_"+tid+'_chosen').chosen.destroy();
            //$("#id_"+tid).chosen.destroy();//trigger("destroy");
            //return false;

            /*$("#id_"+tid+'_chosen').find('.search-field input').focus();//.blur(); // open dropdown

            $("#id_"+tid).bind('chosen:hiding_dropdown', function(evt, params){
              var chos = params['chosen'];
              //$('#id_'+tid+'_chosen').nextUntil('span').focus().click();//blur();
              //$("#"+tid+'_tree').focus();//.click();
              //data.tree.$div.focus();
              //data.tree.setFocus();
              //data.node.setFocus();
              //chos.results_reset();
              //chos.update_results_content();
              //alert('CLOSE tid:'+tid+' chosen:'+chos+' / tree:'+$("#"+tid+'_tree').length+' data:'+data);

              //lin = $('#id_'+tid+'_chosen').find('li[data-option-array-index='+ind+']').first().mouseover().mouseup(); //addClass('highlighted').focus().click();
              setTimeout(function(){
                var out = 'CHO - ';
                for(var i in chos){
                  out += i+' ('+(typeof chos[i])+'): '+chos[i]+'\n';
                };
                //$("#"+tid+'_tree').focus();
                //alert(out);

                //alert('Heloo tid:'+tid+' chos:'+chos);
                //data.tree.setFocus();
                //tree.fancytree("getTree").setFocus(true);

              }, 500);
            });

            $("#id_"+tid).bind('chosen:showing_dropdown', function(evt, params){

              var chos = params['chosen'];

              lin = $('#id_'+tid+'_chosen').find('li[data-option-array-index='+ind+']').first().mouseover().mouseup(); //addClass('highlighted').focus().click();

              //alert('OPEN lin:'+lin.length+' tid:'+tid+' chosen:'+$(chos).html()+' / tree:'+$("#"+tid+'_tree').length+' data:'+data);

              //$("#id_"+tid).trigger('chosen:close');
              //$('#id_'+tid+'_chosen').nextUntil('span').click();//blur();
              //$("#"+tid+'_tree').focus().click();
              //data.tree.$div.focus();
              //data.tree.setFocus();
              //data.node.setFocus();
            });//.blur();//.setFocus(false);
            */

            //var lin = $('#id_'+tid+'_chosen').find('.chosen-drop li[data-option-array-index='+ind+']');//.removeClass('active-result').addClass('result-selected');
            //$("#id_"+tid).trigger("chosen:updated");

            setTimeout(function(){

              $tab.find("#id_"+tid).trigger("chosen:updated");

              if(!$tab.find('#id_'+tid+'_chosen').find('li.search-choice').length || !$tab.find('#id_'+tid).find('option[selected]').length){

                alert("Sorry, there's still a javascript bug here. The choice is not seen in the search box the second time it is selected in the tree (but it's selected, internally)... it's safe to continue.");// \n (tid:"+tid+' node:'+data.node.key+' sCH:'+$('#id_'+tid+'_chosen').find('li.search-choice').length+' ('+$('#id_'+tid+'_chosen').find('li.search-choice').first().text()+') rCH:'+$('#id_'+tid+'_chosen').find('li.result-selected').length+' ('+$('#id_'+tid+'_chosen').find('li.result-selected').first().text()+') oCH:'+$('#id_'+tid).find('option[selected]').length+' ('+$('#id_'+tid).find('option[selected]').first().text()+'))');

                $tab.find("#id_"+tid).trigger("chosen:updated");
              };
            }, 500);

            //alert('CHS?!: '+$('#id_'+tid+'_chosen').find('li.result-selected').length+' != '+$('#id_'+tid).find('option[selected]').length+' ind:'+ind+' ('+$('#id_'+tid+'_chosen').find('.chosen-drop li').length+') / key:'+data.node.key+' tid:'+tid);//+' fancy:'+$("#id_"+tid).fancytree);

            //$("#id_"+tid+'_chosen').remove();
            //$("#id_"+tid).removeAttr('style');
            //$('#id_'+tid).chosen(ObjChos).change(function(evt, params){
            //    ChosChange($(this), params);
            //});
            //$("#id_"+tid).trigger("chosen:updated");

          } // end ERROR

          //$("#id_"+tid).trigger("chosen:updated");
          //$("#id_"+tid).trigger("chosen:ready");
          //$("#id_"+tid).trigger("chosen:activate");
          //$("#id_"+tid+'_chosen').find('.search-field input').focus().blur();

          //data.tree.$div.focus();
          //data.tree.setFocus();

        } else { // either tree has focus or there's a choice in chosen

          if( !$tab.find('#id_'+tid+'_chosen').find('li.search-choice').length ){

            alert('tree no focus, sCH:'+$tab.find('#id_'+tid+'_chosen').find('li.search-choice').length+' ('+$tab.find('#id_'+tid+'_chosen').find('li.search-choice').first().text()+') oCH:'+ $tab.find('#id_'+tid).find('option[selected]').length+' tsnd:'+snd.length+' tsnd[0]:'+snd[0].key);

          } else {
            // there's a choice in chosen and tree has focus

          }
        }

      } else { // No selections in tree

        if( data.tree.hasFocus() ) { //&& $('#id_'+tid+'_chosen').find('li.search-choice').length > 0 ){

          $tab.find('#id_'+tid+'_chosen').find('li.result-selected').each(function(){
              //$(this).removeClass('result-selected').addClass('active-result');
          });
          var s = $tab.find('#id_'+tid).find('option').each(function(){
              //$(this).removeAttr('selected');
          });
          //$("#id_"+tid).trigger("chosen:updated");

          if($tab.find('#id_'+tid+'_chosen').find('li.search-choice').length > 0){
            //alert('UpdateTree: Nothing selected, repair chosen? sCH:'+$tab.find('#id_'+tid+'_chosen').find('li.search-choice').length+' oCH:'+$tab.find('#id_'+tid).find('option[selected]').length);
            //var yd = $('#id_'+tid+'_chosen').find('li.result-selected').first().attr('data-option-array-index');
            //$('#id_'+tid).find('option[selected]').removeAttr('selected');
            //$('#id_'+tid).find('option:eq('+yd+')').first().attr('selected','selected');

            $tab.find('#id_'+tid+'_chosen').find('li.search-choice').find('a.search-choice-close').click(); // close choices clicking

            //$("#id_"+tid).trigger("chosen:updated");

            if($tab.find('#id_'+tid+'_chosen').find('li.search-choice').length > 0 || $tab.find('#id_'+tid).find('option[selected]').length){
              //alert('UpdateTree? / Nothing s:'+s.length+' tid:'+tid+' oCH:'+$tab.find('#id_'+tid).find('option[selected]').length);
              $('#id_'+tid).find('option[selected]').removeAttr('selected');
              if($tab.find('#id_'+tid+'_chosen').find('li.search-choice').length > 0 || $tab.find('#id_'+tid).find('option[selected]').length){
                alert('UpdateTree?? / Nothing s:'+s.length+' tid:'+tid+' sCH:'+$tab.find('#id_'+tid+'_chosen').find('li.search-choice').length);
              }
            }
          }
          //$("#id_"+tid).trigger("chosen:activate");
          //$("#id_"+tid).trigger("chosen:updated");
          //$("#id_"+tid+'_chosen').find('.search-field input').focus();
          data.tree.setFocus();
          //data.tree.$div.focus();
        } else {
          var yd = $tab.find('#id_'+tid+'_chosen').find('li.result-selected').first().attr('data-option-array-index');
          $tab.find('#id_'+tid).find('option[selected]').removeAttr('selected');
          $tab.find('#id_'+tid).find('option:eq('+yd+')').first().attr('selected','selected');
          //$('#id_'+tid+'_chosen').find('li.result-selected').removeClass('result-selected').addClass('active-result');
          //$('#id_'+tid).find('option[selected]').removeAttr('selected');

          if($tab.find('#id_'+tid+'_chosen').find('li.result-selected').length || $tab.find('#id_'+tid+'_chosen').find('li.search-choice').length || $tab.find('#id_'+tid+'_chosen').find('li.result-selected').length){

            //alert('tree no focus, no selections? yd:'+yd+' rCH:'+$('#id_'+tid+'_chosen').find('li.result-selected').length+' ('+$('#id_'+tid+'_chosen').find('li.result-selected').first().html()+') sCH:'+$('#id_'+tid+'_chosen').find('li.search-choice').length+' ('+$('#id_'+tid+'_chosen').find('li.search-choice').first().text()+') oCH:'+$('#id_'+tid).find('option[selected]').length+' ('+$('#id_'+tid).find('option[selected]').first().html()+')');
          }
        }
      }
      if( $tab.find('#id_'+tid+'_chosen').find('li.search-choice').length ) {
        var htm = $tab.find('#id_'+tid+'_chosen').find('li.search-choice').html();
        $tab.find('#id_'+tid+'_chosen').find('li.search-choice span').html( htm.split( '. ' ).join('') );
      }
      //$("#id_"+tid).trigger("chosen:updated");

    };



    var ObjChos = {
      //allow_single_deselect: true,
      width: "290px",
      no_results_text: "Oops, nothing found!",
      max_selected_options: 1,
      disable_search_threshold: 6,
    };

    function ChosChange($this, params){
      var tid = $this.attr('id');
      var tarr = tid.split('_');
      tid = tarr[1]+'_'+tarr[2];
      var dess = params['deselected'];
      var sels = params['selected'];
      var $tab = $this.parent().parent().parent();
      var tree = $tab.find('#'+tarr[1]+'_'+tarr[2]+'_tree');//.fancytree("getTree");
      var ide = tarr[1].split('')[0].toUpperCase()+'id_';
      var $nav = false;

      if( tid == "exchange_type" ){
        //$tab = $('#'+$('li.ui-tabs-active').attr('aria-controls')).first();
        //tree = $tab.find('#'+$tab.attr('id')+'_tree');
        if( typeof sels != 'undefined' && sels ){
          tree = $('#'+ide+sels).parentsUntil('div').last().parent();
          $tab = tree.parent().parent();
          $nav = $('.ui-tabs .ui-tabs-nav li[aria-controls='+$tab.attr('id')+'] a').click();
        }
        if( typeof dess != 'undefined' && dess ){
          tree = $('#'+ide+dess).parentsUntil('div').last().parent();
          $tab = tree.parent().parent();
          //$this.blur();
          //tree.fancytree("getTree").setFocus(true);
          //$nav = $('.ui-tabs .ui-tabs-nav li[aria-controls='+$tab.attr('id')+'] a');//.click();
        }
      };
      //alert('Chosen Change / tab:'+$tab.attr('id')+' tid:'+tid+' sel:'+sels+' des:'+dess+' ('+$('#'+ide+dess).length+') tree:'+tree.attr('id')+' ('+tree.length+') ide:'+ide+' nav:'+$nav.length+' tarr:'+tarr.join('_'));


      //tree.fancytree("getTree").setFocus(false);

      if( $tab.find('#id_'+tid+'_chosen').find('li.search-choice').length ) {
        $tab.find('#id_'+tid+'_chosen').find('li.search-field').hide()
      } else {
        $tab.find('#id_'+tid+'_chosen').find('li.search-field').show()
      }

      //if(!tree.fancytree("getTree").hasFocus()){
      if(typeof dess != 'undefined' && dess){

        $tab.find('#id_'+tid+'_chosen').find('li.search-field').show()

        if(!tree.length){// || ide == 'Eid_'){
          alert('NO TREE! dess:'+dess+' tab:'+$tab.attr('id')+' tid:'+tid+' ide:'+ide+' sel:'+$tab.find('#id_'+tid).find('option[selected]').text()+' tree:'+tree.length);

          if( $tab.find('#id_'+tid).find('option[selected]').length && !$tab.find('#id_'+tid+'_chosen').find('li.search-choice').length ) {
            alert('NO TREE: repair select... dess:'+dess+' tab:'+$tab.attr('id')+' tid:'+tid+' ide:'+ide+' sel:'+$tab.find('#id_'+tid).find('option[selected]').text()+' tree:'+tree.length);
            $tab.find('#id_'+tid).find('option[value='+dess+']').removeAttr('selected');
          }
        }

        if(tree.length && !tree.fancytree("getTree").hasFocus()){
          if(typeof dess == 'string'){
            tree.fancytree("getTree").activateKey(ide+dess);
            var node = tree.fancytree("getTree").getActiveNode();
            node.setSelected(false);//toggleSelected();
            node.setFocus(false);
            node.setActive(false);
            tree.fancytree("getRootNode").visit(function(node){
              node.setExpanded(false);
            });
            tree.fancytree("getTree").setFocus(false);
            //$('input[name="new-exchange"]').focus();
            $this.find('li.result-selected').removeClass('result-selected').addClass('active-result');
            $tab.find('#id_'+tid).find('option[selected]').removeAttr('selected');
            //alert('Chosen Change DESS '+dess+' this:'+$this);// / ide: '+tree.find('#'+ide+dess).attr('id')+' dess:'+dess+' tid:'+tid);//+' / tree:'+tree.html())
          } else {
            for(var des in dess){
              alert('d:'+des+' dess:'+dess[des]);
            }
          }
        } else if(tree.length) { // tree has focus

          //$('#id_'+tid+'_chosen').find('li.search-choice').find('.search-choice-close').click();

          //if( $tab.find('#id_'+tid+'_chosen').find('li.search-choice').length || $tab.find('#id_'+tid+'_chosen').find('li.result-selected').length || $tab.find('#id_'+tid).find('option[selected]').length ) {

              $tab.find('#id_'+tid+'_chosen').find('li.result-selected').each(function(){
                  //$(this).removeClass('result-selected').addClass('active-result');
              });
              $tab.find('#id_'+tid).find('option').each(function(){
                  //$(this).removeAttr('selected');
              });

              tree.fancytree("getTree").activateKey(ide+dess);
              var node = tree.fancytree("getTree").getActiveNode();
              node.setSelected(false);//toggleSelected();
              node.setFocus(false);
              node.setActive(false);
              tree.fancytree("getRootNode").visit(function(node){
                //node.setExpanded(false);
              });
              tree.fancytree("getTree").setFocus(false);
              //$this.blur().mouseout().parent().find('span').first().focus().mousedown().mouseup().click();
              //$this.blur().mouseout().next().next().mouseover().focus().mousedown().mouseup().click();

              //alert('CH DESS tree has focus this:'+$this.parent().find('span').first().html()+' (node:'+node.key+'), dess:'+dess+' tid:'+tid+' sCH:'+$('#id_'+tid+'_chosen').find('li.search-choice').length+' ('+$('#id_'+tid+'_chosen').find('li.search-choice').first().text()+') rCH:'+$('#id_'+tid+'_chosen').find('li.result-selected').length+' ('+$('#id_'+tid+'_chosen').find('li.result-selected').first().html()+') oCH:'+$('#id_'+tid).find('option[selected]').length+' ('+$('#id_'+tid).find('option[selected]').first().html()+')');
          //}
        } else {
            alert('CH DESS there is no tree! tab:'+$tab.attr('id')+', dess:'+dess+' tid:'+tid+' sCH:'+$tab.find('#id_'+tid+'_chosen').find('li.search-choice').length+' ('+$tab.find('#id_'+tid+'_chosen').find('li.search-choice').first().text()+') rCH:'+$tab.find('#id_'+tid+'_chosen').find('li.result-selected').length+' ('+$tab.find('#id_'+tid+'_chosen').find('li.result-selected').first().html()+') oCH:'+$tab.find('#id_'+tid).find('option[selected]').length+' ('+$tab.find('#id_'+tid).find('option[selected]').first().html()+')');
        }

      }; // end DESS

      if(typeof sels != 'undefined' && sels){

        if(!tree.length || ide == 'Eid_'){

          if( !$tab.find('#id_'+tid).find('option[selected]').length && $tab.find('#id_'+tid+'_chosen').find('li.search-choice').length ) {
            //alert('NO TREE: repair sels:'+sels+' tab:'+$tab.attr('id')+' tid:'+tid+' force select:'+$tab.find('#id_'+tid).find('option[selected]').length);
            $tab.find('#id_'+tid).find('option[value='+sels+']').attr('selected','selected');

          }

        }

        if(tree.length && !tree.fancytree("getTree").hasFocus()){
          if(typeof sels == 'string' && sels.length){
            var sel = tree.fancytree("getTree").getSelectedNodes();
            var act = tree.fancytree("getTree").getActiveNode();
            var id = '';
            if(act){
              id = act.key.split('_')[1];
              if( act.key != sel[0].key ) {
                alert('act: '+typeof(act)+': '+act.key+' == sel[0]:'+sel[0].key+' OBs:'+$this.chosen.current_selectedIndex);
              }
            }
            //if(id == '' || sels != id){
            $tab.find('#id_'+tid).find('option').each(function(){
                //$(this).removeAttr('selected');
            });
            $tab.find('#id_'+tid+'_chosen').find('li.result-selected').each(function(){
                //$(this).removeClass('result-selected').addClass('active-result');
            });

            if(sel[0]) sel[0].setSelected(false);
            tree.fancytree("getTree").activateKey(ide+sels);
            var node = tree.fancytree("getTree").getActiveNode();
            if(node){
              node.setSelected(); //toggleSelected();
              node.setFocus();
              node.setActive();
              node.setFocus(false);
            }
            tree.fancytree("getTree").setFocus(false);

            //setTimeout(function(){
              //alert('Heloo '+tree.html());
              //$this.blur().mouseout().next().next().mouseover().focus().mousedown().mouseup().click();//blur();
              //tree.focus();
              //tree.fancytree("getTree").setFocus(true);
              //alert('CC Heloo '+$this.next().next().html());//tree.html());
            //}, 200);

              //tree.click();
              //$('input[name="new-exchange"]').focus();
              //alert('Chosen Change SELS '+sels+' sel:'+sel+' ide:'+ide+' id:'+id+' nodekey:'+node+' btn:'+$('input[name="new-exchange"]').length);


              //tree.fancytree("getTree").setFocus(true);//false);
              //tree.click();
            //}
          } else {
            for(var sel in sels){
              alert('s:'+sel+' sel:'+sels[sel]);
            }
          }
        } else if(tree.length) { // tree has focus
          $tab.find('#id_'+tid).find('option').each(function(){
            $(this).removeAttr('selected');
          });
          $tab.find('#id_'+tid+'_chosen').find('li.result-selected').each(function(){
            $(this).removeClass('result-selected').addClass('active-result');
          });
          alert('CH SELS tree has focus. tid:'+tid);
        }
      }

      //var out = 'PARAMS - ';
      //for(var i in params){
      //  out += i+': '+params[i]+', ';
      //};
      //alert(out);//node.selector+' '+node.key);
      //if(str[0]) alert($(str[0]).attr('id')+' :: '+str.length);
      //$this.next().focus();//blur();
      //tree.fancytree("getTree").setFocus(true);
      //tree.focus();
    };

    $(".chzn-select").each(function(){
      $(this).chosen( ObjChos ).change( function(evt, params){
        ChosChange( $(this), params );
      }).ready( function(evt, params){
          //alert('Chosen READY: params:'+params+' this:'+$(this).text());//+params['chosen']);
      });
    });


		var selectedCats = "{{ selected_values }}";

		$('.category').each(function(){
			var cat = $(this)[0];
      if (selectedCats.indexOf(cat.name+',') > -1 || selectedCats.indexOf(','+cat.name) > -1 || selectedCats == cat.name ) {
				$(this).prop('checked', true);
			}
		});

		$('.category').click(function()
		{
			var checkedCats = [];
			var checkedBox = $(this)[0];
			var allBox = $('#all')[0];
			if (checkedBox == allBox)
			{
				$('.category').each(function()
				{
		            $(this).prop('checked', false);
				});
				$('#all').prop('checked', true);
				checkedCats.push('all');
			}
			else
			{
				$('#all').prop('checked', false);
				$('.category').each(function()
				{
					var cat = $(this)[0];
		            if (cat.checked)
					{
						checkedCats.push(cat.value);
					}
				});
			}
			$('#categories').prop('value', checkedCats);
		});


	}); // end document.ready
    </script>

{% endblock %}
