{% load i18n %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load thumbnail %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
<head>
<title>{% trans "Thank you for your request to join this project" %}</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" media="all">
    <link rel="stylesheet" href="{% static 'css/coop.css' %}">

    {% if project.custom_css %}
        <style>
            {{ project.custom_css }}
        </style>
    {% endif %}

</head>
<body style="background-image: url({% if project.background_url %}{% static project.background_url %}{% else %}{% static 'img/photo-OCP-1600x900_green.jpg' %}{% endif %}); text-align:center;">
<div style="font-weight:bold; position:absolute; left:13px; top:9px;">
  <a href="{% url 'project_login' form_slug=project.fobi_slug %}" style="color:#734279;">{% trans "Login" %} {{ project.agent.name }}</a>
</div>
<div class="container">
    {% include "_messages.html" %}
    <p>&nbsp;</p>
    {% if existuser or existemail %}
        <!-- {% if existuser and not existemail %}
            <h2>
                {% trans "The username is already in the system." %}
            </h2>
            <p style="text-align:center; font-size:120%; ">
                {% blocktrans %} If you are <b>{{ existuser }}</b>, put your existent password to connect this request to your account.
                {% endblocktrans %}
            </p>
            {% if login_form %}
                {% csrf_token %}
                {{ login_form }}
                <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
            {% endif %}
        {% elif existuser and existemail %}
            user: {{ existuser }} email: {{ existemail }}
        {% elif existemail and not existuser %}
            email: {{ existemail }}
        {% endif %} -->

    {% else %}
    <h2>
        {% trans "Thank you for your request to join" %}<br />
        {% if project.agent.photo or project.agent.photo_url %}
            <br />
            <a href="{{ agent.url }}">
              {% if project.agent.photo %}
                <img src="{% thumbnail project.agent.photo 400x400 %}" title="{{ project.agent.name }}" />
              {% elif project.agent.photo_url %}
                <img src="{{ project.agent.photo_url }}" width="400" />
              {% endif %}
            </a>
        {% else %}
            <br /><span style="font-size:180%">{% if project.agent.url %}<a href="{{ project.agent.url }}" target="_blank">{{ project.agent.name }}</a>{% else %}{{ project.agent.name }}{% endif %}</span>
        {% endif %}
    </h2>
    <div class="row-fluid">
        {% if not jn_req.payment_url %}<p style="text-align:center">{% trans "A project coordinator will send you an email soon with your OCP login credentials." %}</p>{% endif %}
        <p> &nbsp; </p>
        {% if project.payment_options and jn_req.pending_shares %}
            <p style="text-align:center; font-size:120%; ">
                {% trans "You've choosed to pay your" %} <b>{{ jn_req.pending_shares }}</b> {% trans "Shares via" %} <span style="font-weight:bold;">{{ jn_req.payment_option.val }}</span>
            </p>
            {% if jn_req.payment_url %}
                <p style="text-align:center; font-size:120%; ">
                    {% trans "To pay the shares directly by credit card is required to login first in OCP." %}
                </p>
                <p style="text-align:center; font-size:120%;">
                    {% trans "You've received an email with an initial random password to proceed (change it afterwards)." %}
                </p>
                <p style="text-align:center;">
                    <b><a href="{% url 'project_login' form_slug=project.fobi_slug %}" class="btn btn-primary" >{% trans "Login to" %} {{ project.agent.name }}</a></b>
                </p>
                <!-- <form action="{{ jn_req.payment_url }}" method="POST" style="display:inline">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" id="order_id" value="{{ jn_req.pk }}" />
                    <input type="hidden" name="amount" id="amount" value="{{ jn_req.pending_shares }}" />
                    <input type="hidden" name="email" id="email" value="{{ jn_req.email_address }}" />
                    <input type="hidden" name="first_name" id="first_name" value="{{ jn_req.name }}" />
                    <input type="hidden" name="last_name" id="last_name" value="{{ jn_req.surname }}" />
                    <input type="hidden" name="lang" id="lang" value="en" />
                    <input type="hidden" name="token" id="token" value="{{ jn_req.payment_token }}" />
                    <input type="submit" value="{% if jn_req.payment_html %}{{ jn_req.payment_html }}{% else %}{% trans "Pay your Shares" %}{% endif %}" class="btn btn-primary" />
                </form> -->
                <!-- <p style="text-align:center"><br />
                    <a href="{% url 'payment_url' paymode=jn_req.payment_option.key join_request_id=jn_req.id %}" target="ocp_pay" class="btn btn-primary">{% if jn_req.payment_html %}{{ jn_req.payment_html }}{% else %}{% trans "Pay your Shares now" %}{% endif %}</a><br />
                </p> -->
            {% elif jn_req.payment_html %}
                <p style="text-align:center">{{ jn_req.payment_html|safe }}</p>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>
</body>
</html>

