{% load i18n %}
{% load bootstrap_tags %}
{% load staticfiles %}
{% load thumbnail %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
<head>
<title>{% trans "Thank you for your request to join this project" %}</title>

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" media="all">
  <link rel="stylesheet" href="{% static 'css/coop.css' %}">

</head>
<body style="background-image: url({% static 'img/photo-OCP-verd-1600x900.jpg' %}); text-align:center;">
<div style="font-weight:bold; position:absolute; left:13px; top:9px;">
  <a href="{% url 'account_login' %}" style="color:#734279;">{% trans "Login" %}</a>
</div>
<div class="container">
    {% include "_messages.html" %}
    <p>&nbsp;</p>
    <h2>
        {% trans "Thank you for your request to join" %}<br />
        <br /><span style="font-size:180%">{% if project.agent.url %}<a href="{{ project.agent.url }}" target="_blank">{{ project.agent.name }}</a>{% else %}{{ project.agent.name }}{% endif %}</span>
    </h2>
    <div class="row-fluid">
        <p style="text-align:center">{% trans "A project coordinator will send you an email soon with your OCP login credentials." %}</p>
        <p> &nbsp; </p>
        {% if project.payment_options and jn_req.pending_shares %}
                <p style="text-align:center; font-size:120%; ">
                    {% trans "You've choosed to pay your" %} <b>{{ jn_req.pending_shares }}</b> {% trans "Shares via" %} <span style="font-weight:bold;">{{ jn_req.payment_option.val }}</span>
                </p>
                <p style="text-align:center"><br />
                    <a href="{% url 'payment_url' paymode=jn_req.payment_option.key join_request_id=jn_req.id %}" target="ocp_pay" class="btn btn-primary">{% trans "Pay your Shares now" %}</a><br />

                </p>
        {% endif %}
    </div>
	<h4><a href="{{ agent.url }}">
      {% if project.agent.photo %}
        <img src="{% thumbnail project.agent.photo photo_size %}" title="{{ project.agent.name }}" />
      {% elif project.agent.photo_url %}
        <img src="{{ project.agent.photo_url }}" width="400" />
      {% endif %}
    </a></h4>
</div>
</body>
</html>

