{% extends "work_base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}
{% load mptt_tags %}

{% with user_agent as user %}

{% block head_title %}
{% if user in agent.managers %}
{% trans "Your Project" %}: {{ agent.name }}
{% else $}
{% trans "Other Agent" %}: {{ agent.name }}
{% endif %}
{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />
<link rel="stylesheet" href="{% static 'css/skin-lion/ui.fancytree.min.css' %}" />

<style>

  .labnote {
      background-color: beige;
      padding: 2px 6px 3px 6px;
      border: 1px solid gainsboro;
  }
  .btn-info {
      margin-left: 10px;
  }

  .btn {
      margin-top: 1px;
      margin-bottom: 1px;
  }
  #id_notes, #id_access_rules {
    width: 500px;
    height: 100px;
  }
  .modal {
      width: 600px;
  }
  .text-center {
      text-align: center;
  }
  .assoc li {
      margin-left: 3em;
  }
  .indent {
      margin-left: .9em;
      }
  #chart_div0 {
      margin-top: 25px;
  }
  .chart-heading{
      text-align: center;
  }
  #chart_div1 {
      margin-bottom: 25px;
  }
  #chart_div2 {
      margin-bottom: 25px;
  }
  #chart_div3 {
      margin-bottom: 25px;
      height: {{ roles_height }}px;
  }
  #balance {
      font-weight: bold;
      font-size: 1.2em;
      margin-right: 1em;
  }
  .down {
      margin-top: 10px;
  }
  .smaller {
      font-size: .9em;
  }
  .button-row {
      margin-top: 0;
      margin-bottom: 10px;
  }
  legend {
      margin-bottom: 30px;;
  }
  .membership {
      font-weight: bold;
      color: firebrick;
  }
  .action-form {
      display: inline;
  }

  fieldset {
    border: 0;
  }
  /*label {
    display: block;
    margin-top: 15px;
  }*/
  .overflow {
    height: 200px;
  }

  .showhide {
    color: #734279;
    margin-left: 3px;
    font-weight: bold;
    cursor: pointer;
  }

  #div_id_photo .controls label {
    display: inline;
  }
  #uploadPicture form > div > label {
    font-weight: bold;
  }
  form .controls {
    margin-top: 5px;
  }

  .skills-box .chosen-choices li.search-choice {
    width: 88%;
  }

</style>

{% endblock %}

{% block body_class %}x{% endblock %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}

		<legend>
			  {{ agent.agent_type }}: <b>{{ agent.name }}</b>
        {% if user_agent.is_staff or user_agent in agent.managers %}
            <!-- {% if agent.is_individual %}
                    <a class="indent smaller" href="{% url "contribution_history" agent_id=agent.id %}">{% trans "Contributions" %}: {{ agent.contributions_count }}</a>
            {% else %}
                    <a class="indent smaller" href="{% url "contributions" project_id=agent.id %}">{% trans "Contributions" %}: {{ agent.contributions_count }}</a>
            {% endif %}
                {% if agent.is_context_agent %}
                    <a class="indent smaller" href="{% url "distributions" agent_id=agent.id %}">{% trans "Distributions" %}</a>
                    <a class="indent smaller" href="{% url "orders" agent_id=agent.id %}">{% trans "Active Orders" %} </a>
                    <a class="indent smaller" href="{% url "context_timeline" context_id=agent.id %}">{% trans "Timeline" %}</a>
                {% endif %}
            <a class="indent smaller" href="{% url "radial_graph" agent_id=agent.id %}">{% trans "Association Graph" %}</a>
            <a class="indent smaller" href="{% url "agent_associations" agent_id=agent.id %}">{% trans "Maintain Associations" %}</a>
            <a class="indent smaller" href="{% url "agents" %}">{% trans "All Agents" %}</a> -->
        {% endif %}
        <div class="subnav">
               {% if agent.faircoin_resource %}
                 {% if user_agent in agent.managers or user_agent == agent %}
                  <a class="indent" href="{% url "manage_faircoin_account" resource_id=agent.faircoin_resource.id %}">{% trans "FairAccount" %}</a>
                 {% endif %}
               {% endif %}
               {% if user_agent.is_staff or user_agent in agent.managers or user_agent in agent.participants or user_agent == agent %}
                 {% if agent.need_exchanges %}
                   <a class="indent" href="{% url "exchanges_all" agent_id=agent.id %}">{% trans "Exchanges" %}</a>
                 {% endif %}
               {% endif %}
               {% if user_agent.is_staff or user_agent in agent.managers or user_agent == agent %}
                   <a class="indent" href="{% url "project_resources" agent_id=agent.id %}">{% trans "Resources" %}</a>
               {% endif %}
               {% if user_agent in agent.managers and agent.project.fobi_slug and agent.project.join_requests %}
                  <a class="indent" href="{% url "join_requests" agent_id=agent.id %}">{% trans "Join Requests" %}</a>
               {% elif agent.project in user_agent.joinaproject_requests_projects %}
                 {% for req in user_agent.joinaproject_requests %}
                   {% if req.project == agent.project %}
                     <a class="indent" href="{% url 'project_feedback' agent_id=agent.id join_request_id=req.id %}">{% trans "Feedback" %}</a>
                   {% endif %}
                 {% endfor %}
               {% endif %}
               {% if user_agent.is_staff or user_agent in agent.managers or user_agent in agent.participants or user_agent == agent %}
                   {% if agent.need_skills %}
                       <a class="indent" href="{% url "project_history" agent_id=agent.id %}">{% trans "Contributions" %}</a>
                   {% endif %}
               {% endif %}
               {% if user_agent.need_projects %}
                   <a class="indent" href="{% url "your_projects" %}">{% trans "Your Projects" %}</a>
               {% elif user_agent == agent %}
                   <a class="indent" href="{% url "work_account_settings" %}">{% trans "Settings" %}</a>
               {% endif %}
               <!-- <a class="indent" href="{% url "project_work" %}">{% trans "Projects Tasks" %}</a> -->
        </div>
		</legend>
		<div class="button-row">

            {% if user_agent in agent.managers or user_agent == agent or user_agent.is_staff %}
                {% if auto_resource %}<div class="alert">
                    {{ auto_resource|safe }}
                    </div>
                {% endif %}
                {% if agent.is_context %}
                  <a href="#agentChangeForm" role="button" class="btn btn-primary" data-toggle="modal">
                    {% if not agent.project %}
                      {% trans "Upgrade to an OCP Project" %}
                    {% else %}
                      {% trans "Edit Project" %}
                    {% endif %}</a>
                  {% if not agent.project %}
                  <div class="infobox3 alert" style="display:inline-block; padding-right:13px; margin:0 13px;">
                    {% trans "This agent is not yet a regular ocp's 'project', only is pending to be defined the visibility and the joining style." %}
                  </div>
                  {% endif %}
                {% endif %}
                {% if not agent.faircoin_address and not agent.multicurrencyauth_set.count %}
                  {% if agent.need_faircoins %}
                    <form
                        style="display: inline;"
                        class="faircoin-form indent"
                        id="createFairCoinAddressForm"
                        action="{% url "request_faircoin_address" agent_id=agent.id %}"
                        method="POST" >
                        {% csrf_token %}
                        <button style="display: inline;"  class="btn btn-primary" title="Create FairCoin Address" >
                            {% trans "Request FairCoin Address" %}
                        </button>
                    </form>
                  {% endif %}
                {% endif %}
                {% if user_agent in agent.managers or user_agent == agent %}
                    {% for arr in agent.resource_relationships %}
                        {% if arr.resource.resource_type.ocp_artwork_type.clas == 'MulticurrencyAuth' %}
                          {% if agent.multicurrencyauth_set.count %}

                          {% else %}
                              &nbsp; <a href="{% url "multicurrency_auth" agent_id=agent.id %}" class="btn btn-primary">{% trans "Create Multicurrency Wallet Access" %}</a>
                          {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if user.is_staff and agent.is_deletable %}
                <form
                    style="display: inline;"
                    class="delete-agent-form indent"
                    id="deleteAgentForm"
                    action="{% url "delete_agent" agent_id=agent.id %}"
                    method="POST" >
                    {% csrf_token %}
                    <button style="display: inline;"  class="btn btn-warning btn-mini" title="Delete Agent" >{% trans "Delete" %}</button>
                </form>
            {% endif %}

            {% if False and user.is_staff and user_form %}
                <a href="#createUserForm" role="button" class="btn btn-primary indent" data-toggle="modal">{% trans "Create User" %}</a>
            {% endif %}

            {% if False and agent.is_context and user_agent in agent.managers %}
                <form style="display: inline;" class="indent" id="exchangeForm" method="POST" action="">
                    {% csrf_token %}
                    Create an internal exchange in this context: <span style="vertical-align: middle;">{{ nav_form.exchange_type }}</span>
                    <input style="display: inline;" type="submit" name="submit" value="{% trans 'Create Exchange' %}" class="btn btn-primary" />
                </form>
            {% endif %}

            {% if user_agent and user_agent in agent.managers or user.is_staff %}
                <div class="modal hide fade" id="agentChangeForm" tabindex="-1" role="dialog" aria-labelledby="agent-change-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="agent-change-label">{% trans "Change" %} {{ agent.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <form enctype="multipart/form-data" action="{% url 'change_your_project' agent_id=agent.id %}" method="POST" >
                            {% csrf_token %}
                            {{ change_form|as_bootstrap }}
                            <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <button class="btn btn-primary">{% trans "Save changes" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

            {% if False and user.is_staff and user_form %}
                <div class="modal hide fade" id="createUserForm" tabindex="-1" role="dialog" aria-labelledby="create-user-label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="create-user-label">{% trans "Create login user for" %} {{ agent.name }}</h3>
                    </div>
                    <div class="modal-body">
                        <form id="userForm" enctype="multipart/form-data" action="{% url "create_user" agent_id=agent.id %}" method="POST" >
                            {% csrf_token %}
                            {{ user_form|as_bootstrap }}
                            <input type="checkbox" id="staff" name="is_staff"> <label for="staff">Coop Admin user?</label>

                            <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <button class="btn btn-primary">{% trans "Save user" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}

    </div>
		<div class="row-fluid">

		    <div class="span5" id="agent-table-block" style="width: 48%;">

	            <table class="table table-bordered" >


                  <tr>
                    <th style="text-align: right; vertical-align: top; ">{% trans "Image" %}</th>
                    <td style="{% if agent.project.background_url %} background-image: url({% static agent.project.background_url %}); {% endif %}">
                      <div class="modal hide fade" id="uploadPicture" tabindex="-1" role="dialog" aria-labelledby="upload-label" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="upload-label">{% trans "Upload Picture for " %} {{ agent.name }}</h3>
                        </div>
                        <div class="modal-body">
                            <form enctype="multipart/form-data" action="{% url "upload_picture" agent_id=agent.id %}" method="POST" >
                                {% csrf_token %}
                                {{ upload_form|as_bootstrap }}

                                <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                <button class="btn btn-primary">{% trans "Save" %}</button>
                                </div>
                            </form>
                        </div>
                      </div>
                      {% if agent.photo %}
                        <img src="{% thumbnail agent.photo photo_size %}" />
                      {% elif agent.photo_url %}
                        <img src="{{ agent.photo_url }}" width="300" />
                      {% endif %}
                      {% if user_agent in agent.managers or user_is_agent %}
                        <a href="#uploadPicture" role="button" class="btn btn-primary btn-mini" data-toggle="modal" style="float:right;">{% if agent.photo or agent.photo_url %}{% trans "Change" %}{% else %}{% trans "Set" %}{% endif %}</a>
                      {% endif %}
                    </td>
                  </tr>

                  <tr>
                        <th style="width: 150px; text-align: right;">{% trans "Nickname" %}</th>
                        <td>{{ agent.nick }}</td>
                  </tr>
                  {% if False and user_agent and agent.username %}
                        <tr>
                            <th style="text-align: right;">{% trans "Username" %}</th>
                            <td>{{ agent.username }}</td>
                        </tr>
                  {% endif %}
                  <tr>
                        <th style="text-align: right;">{% trans "Full Name" %}</th>
                        <td>{{ agent.name }}</td>
                  </tr>
                  <tr>
                        <th style="text-align: right;">{% trans "Type" %}</th>
                        <td>{{ agent.agent_type.name }}</td>
                  </tr>
                  {% if agent.unit_of_claim_value %}
                        <tr>
                            <th style="text-align: right;">{% trans "Unit of claim value" %}</th>
                            <td>{{ agent.unit_of_claim_value }}</td>
                        </tr>
                  {% endif %}
                  {% if agent.url %}
                      <tr>
                          <th style="text-align: right;">{% trans "URL" %}</th>
                          <td><a href="{{ agent.url }}" target="_blank">{{ agent.url }}</a></td>
                      </tr>
                  {% endif %}
                  {% if agent.description %}
                      <tr>
                          <th style="text-align: right;">{% trans "Description" %}</th>
                          <td>{{ agent.description|urlize|linebreaks }}</td>
                      </tr>
                  {% endif %}
                  {% if user_agent %}
                        {% if agent.email %}
                            <tr>
                                <th style="text-align: right; vertical-align: top; ">{% trans "Email" %}</th>
                                <td>{{ agent.email }}</td>
                            </tr>
                        {% endif %}
                        {% if user_agent in agent.managers or user_is_agent or agent.primary_location %}
                          <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "Work Location" %}</th>
                            <td>
                                {% if agent.primary_location %}
                                  {{ agent.primary_location.address }}</br>
                                  {% if user_agent in agent.managers %}<a href="{% url "locations" %}">{% trans "Change on map" %}</a>{% endif %}
                                {% elif user_agent in agent.managers %}
                                  {{ agent.address }}<a href="{% url "locations" %}">{% trans "Add on map" %}</a>
                                {% else %}
                                  {{ agent.address }}
                                {% endif %}
                            </td>
                          </tr>
                        {% endif %}
                  {% endif %}

                  {% if agent.multicurrencyauth_set.count %}
                    {% if user_agent in agent.managers or user_is_agent %}
                      <tr>
                          <th style="text-align: right; vertical-align: top; ">{% trans "Multicurrency Accounts" %}</th>
                          <td>
                              {% for au in agent.multicurrencyauth_set.all %}
                                &nbsp; <a href="{% url "multicurrency_history" agent_id=agent.id oauth_id=au.id %}" class="btn btn-primary btn-mini">{% trans "Login as" %} {{ au.auth_user }}</a>
                              {% endfor %}
                              &nbsp; <a href="{% url "multicurrency_auth" agent_id=agent.id %}" class="btn btn-primary btn-mini">+</a>
                          </td>
                      </tr>
                    {% endif %}
                  {% endif %}

                  {% if agent.faircoin_address %}
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "FairCoin address" %}</th>
                            <td>{{ agent.faircoin_address }} {% if user_agent in agent.managers or user_is_agent %}{% if agent.faircoin_resource.id %} &nbsp; <b><a href="{% url "manage_faircoin_account" resource_id=agent.faircoin_resource.id %}" class="btn btn-primary btn-mini">Manage</a></b>{% endif %}{% endif %}</td>
                        </tr>
                  {% endif %}
                  {% if agent.reputation %}
                        <tr>
	                        <th style="text-align: right; vertical-align: top; ">{% trans "Reputation" %}</th>
	                        <td>{{ agent.reputation }}</td>
                        </tr>
                  {% endif %}
                  <tr>
                        <th style="text-align: right;">{% trans "Created date" %}</th>
                        <td>{{ agent.created_date }}</td>
                  </tr>
                  {% if user_agent in agent.managers or user_is_agent %}
                    <tr>
                        <th style="text-align: right;">{% trans "Record created by" %}</th>
                        <td>{{ agent.created_by }}</td>
                    </tr>
                  {% endif %}

                  {% if user_agent in agent.managers and agent.project %}
                      <tr>
                        <th>{% trans "Project Joining Style:" %}</th>
                        <td>{{ agent.project.joining_style }}
                          {% if agent.project.joining_style == 'moderated' %}
                            {% if agent.project.fobi_slug %}
                          - <b><a href="/work/agent/{{ agent.id }}/join-requests/">{% trans "Manage Requests" %}</a></b>
                          - <b><a href="/joinaproject/{{ agent.project.fobi_slug }}" target="_blank">{% trans "View Form" %}</a></b>
                            {% endif %}
                          {% endif %}</td>
                      </tr>
                      <tr>
                        <th>{% trans "Project Visibility:" %}</th>
                        <td>{{ agent.project.visibility }}</td>
                      </tr>
                      <tr>
                        <th>{% trans "Resource Type Visibility:" %}</th>
                        <td>{{ agent.project.resource_type_selection }}</td>
                      </tr>
                      {% if agent.project.joining_style == 'moderated' %}
                        <tr>
                          <th>{% trans "Custom Form:" %}</th>
                          <td>{% if agent.project.fobi_slug %}
                                {{ agent.project.fobi_slug }} {% if user_agent.is_staff %} / <a href="/fobi/view/{{ agent.project.fobi_slug }}/" target="_blank">{% trans "View Custom Form Fields" %}</a>{% endif %}
                              {% else %}
                                <span class="error">{% trans "None" %}</span> <em>{% trans "(custom form fields pending to setup, list your desired fields and ask an admin using the feedback page)" %}</em>
                              {% endif %}
                          </td>
                        </tr>
                        {% if agent.project.share_types %}
                          <tr>
                            <th>{% trans "Offered Shares:" %}</th>
                            <td><ul style="margin-left:15px;">
                              {% for typ in agent.project.share_types %}
                                <li>{{ typ }}</li>
                              {% endfor %}
                            </ul></td>
                          </tr>
                        {% endif %}
                        {% if agent.project.payment_options %}
                          <tr>
                            <th>{% trans "Payment Options:" %}</th>
                            <td><ul style="margin-left:15px;">
                              {% for typ in agent.project.payment_options %}
                                <li>{{ typ|safe }}</li>
                              {% endfor %}
                            </ul></td>
                          </tr>
                        {% endif %}
                        {% if agent.project.services %}
                          <tr>
                            <th>{% trans "Enabled Services:" %}</th>
                            <td><ul style="margin-left:15px;">
                              {% for typ in agent.project.services %}
                                <li>{{ typ }}</li>
                              {% endfor %}
                            </ul></td>
                          </tr>
                        {% endif %}
                        {% if agent.project.custom_html %}
                          <tr>
                            <th>{% trans "Custom Login Html:" %}</th>
                            <td>{{ agent.project.custom_html|safe }}</td>
                          </tr>
                        {% endif %}
                        {% if agent.project.custom_css %}
                          <tr>
                            <th>{% trans "Custom Login Css:" %}</th>
                            <td>{{ agent.project.custom_css }}</td>
                          </tr>
                        {% endif %}
                      {% endif %}
                  {% endif %}

                  {% if agent.membership_request %}
                        <tr>
                            <td colspan="2" class="membership">
                                {% trans "Membership request information" %}
                            </td>
                        </tr>
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "Native language" %}</th>
                            <td>{{ agent.membership_request.native_language }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "Type of membership" %}</th>
                            <td>{{ agent.membership_request.type_of_membership }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "Description from membership request" %}</th>
                            <td>{{ agent.membership_request.description }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "Website" %}</th>
                            <td>{{ agent.membership_request.website }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "FairNetwork username" %}</th>
                            <td>{{ agent.membership_request.fairnetwork }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "UseFaircoin profile" %}</th>
                            <td>{{ agent.membership_request.usefaircoin }}</td>
                        </tr>
                        <tr>
                            <th style="text-align: right; vertical-align: top; ">{% trans "FairMarket shop" %}</th>
                            <td>{{ agent.membership_request.fairmarket }}</td>
                        </tr>
                  {% endif %}

	            </table>

              {% if user.is_staff or user_agent in agent.managers or user_is_agent or related_rts %}
              <!-- <div class="row-fluid" tyle="margin-top:2em;"> -->
                <div class="span6 infobox" style="width:100%;">
                  <h3 class="">{% trans "Resources" %}:</h3>
                  {% if related_rts %}
                    <h4 class="hdg">{% trans "Related Resources" %}:</h4>
                    <ul>
                        {% for rel in agent.resource_relationships %}
                            {% if rel.resource.resource_type in related_rts %}
                                <li>
                                    <a href="{% url "project_resource" agent_id=agent.id resource_id=rel.resource.id %}"> {{ rel.resource }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                  {% else %}
                  {% if agent.resources_created %}
                    <h4 class="hdg">{% trans "Resources Created" %}:</h4>
                    <ul>
                        {% for resource in agent.resources_created %}
                            <li>
                                <a href="{% url "project_resource" agent_id=agent.id resource_id=resource.id %}"> {{ resource.resource_type.name }}: {{ resource.identifier }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                  {% if agent.resource_relationships %}
                    <h4 class="hdg">{% trans "Resource Relationships" %}:</h4>
                    <ul>
                        {% for rel in agent.resource_relationships %}
                            {% ifchanged rel.role %}
                                <h4>{{ rel.role.name }} </h4>
                            {% endifchanged %}
                            <li>
                                <a href="{% url "project_resource" agent_id=agent.id resource_id=rel.resource.id %}"> {{ rel.resource }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                  {% endif %}
                  {% endif %}
                </div>


              <!-- </div> -->
              {% endif %}

	      </div>


        <div class="span6">
          {% if user_agent in agent.managers or user_is_agent or user_agent in agent.members %}{% if agent.project and form_entries and fobi_name and user_agent in agent.managers %}
            <div class="requests span6" style="width:100%;">
              <h3>
                {% trans "Pending to create user+agent:" %} &nbsp;
                <a class="btn btn-primary" href="{% url "join_requests" agent_id=agent.id %}">{% trans "Manage Join Requests" %}</a>
              </h3>
              <ul>
                {% for req in form_entries %}
                  <li>
                    {{ req.name }} <!--( <a href="mailto:{{ req.email_address }}">{{ req.email_address }}</a> )-->
                  </li>
                {% endfor %}
              </ul>
              <p>&nbsp;</p>
            </div>
          {% endif %}{% endif %}


          {% if agent.is_individual and agent.need_skills or user_is_agent and agent.need_skills %}
              <div class="span6 infobox skills-box" style="width:100%;">
                  <h3 class="">{% trans "Skills" %}:</h3>
                  {% if agent.skills %}
                    {% if user_agent in agent.managers or user_is_agent %}
                      <a href="#skillAssnForm" role="button" class="btn btn-primary btn-mini" data-toggle="modal" style="float:right;">Edit offered skills</a>
                    {% endif %}
                    <ul>
                        {% for skill in agent.skills %}
                            <li>
                                {% if skill.ocp_skill_type %}{{ skill.ocp_skill_type }}{% else %}{{ skill }}{% endif %}
                                {% if skill.created_by == agent.user.user and user_is_agent %} <em>{% trans "(created by you)" %}</em>{% elif skill.changed_by == agent.user.user and user_is_agent %} <em>{% trans "(edited by you)" %}</em>{% elif skill in agent.suggested_skills %} <em>{% blocktrans %}(suggested by {{ agent }}) {% endblocktrans %}</em>{% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                  {% endif %}

                  {% if user_agent in agent.managers or user_is_agent %}
                    <div class="modal hide fade" id="skillAssnForm" tabindex="-1" role="dialog" aria-labelledby="assn-label" aria-hidden="true">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="assn-label">{% trans "Assigned Skills for" %} {{ agent }}</h3>
                      </div>
                      <div class="modal-body">
                        <!-- <form id="skillAssnForm" enctype="multipart/form-data" action="{% url "assign_skills" agent_id=agent.id %}" method="POST" > -->
                        <form class="register" name="register" enctype="multipart/form-data" action="{% url "update_skills" agent_id=agent.id %}" method="POST" >
                            {% csrf_token %}
                            <ul style="list-style:none;">
                            {% for skill in agent.skills %}
                                <li>
                                    <input type="checkbox" name="skillChoice" value="{{ skill.id }}" {% if skill.checked %} checked="checked" {% endif %} />
                                    {{ skill }}
                                    {% if skill.thanks %}
                                        &nbsp;&nbsp;&nbsp;<em class="thanks">({% trans "Thanks for the suggestion!" %})</em>
                                    {% endif %}
                                </li>
                            {% endfor %}
                                <!-- <li> {{ other_form|as_bootstrap }} </li> -->
                            </ul>

                            <div class="modal-footer">
                              <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                              <button class="btn btn-primary">{% trans "Save" %}</button>
                            </div>
                        </form>
                      </div>
                    </div>
                    <p>
                      {% trans "Add another skill to your profile: " %}<span class="showhide" id="sh-choose_skill" >SHOW</span>
                    </p>
                    <div class="list" id="list-choose_skill" style="display:none">

                      <div style="display:block; ">
                        <form id="addSkillForm" enctype="multipart/form-data" action="{% url "assign_skills" agent_id=agent.id %}" method="POST" style="margin-bottom:5px;" >
                          {% csrf_token %}
                          {{ add_skill_form.skill_type }} &nbsp;
                          <button class="btn btn-primary">{% trans "Add" %}</button>
                        </form>
                        <span>
                          <span class="showhide" id="sh-skill_tree" >SHOW</span> {% trans "as a Tree" %}
                        </span>
                        <span><!--<div style="display:inline-flex; float:right; position:absolute;">-->
                          <ul style="display:inline-table; list-style:none; margin:7px 0; float:right; text-align:right;">
                            <li class="edit_skill_type" style="display:none; margin-bottom:10px;">{% trans "...you created this skill:" %}&nbsp;<a href="#addSkillTypeModal" id="edit_st_but" role="button" class="btn btn-primary btn-mini edit_skill_type" data-toggle="modal" title="Edit a skill type">{% trans "Edit" %}</a></li>
                            <li>{% trans "...if no one fits:" %}&nbsp; <a href='#addSkillTypeModal' role="button" class='btn btn-primary btn-mini btn_skill_type' data-toggle="modal" title="Create a new skill resource type">{% trans "New Skill Service Type" %}</a></li>
                          </ul>
                          {% if Stype_form.errors %}{% if request.POST.new_skill_type or request.POST.edit_skill_type %}<br>
                            <div class="alert" style="display:inline-block; float:right;">
                              <ul>
                              {% for fil in Stype_form %}
                                {% if fil.errors %}<li><em>{{ fil.label }}:</em> {{ fil.errors|first|safe }}</li>{% endif %}
                              {% endfor %}
                              </ul>
                            </div><br> &nbsp; <br> &nbsp; <br>
                          {% endif %}{% endif %}
                        </span><!--</div>-->
                        <br/>
                        <div class="list" id="list-skill_tree" style="display:none">
                          <div id="skill_type_tree" class="skill_type_tree fancytree-radio" style="max-width:300px; min-width:200px; float:left;  margin: 0px 0px 1px 1px;">
                            <ul class="root" id="treeData" style="/*display: none;*/">
                              {% recursetree Stype_tree %}
                              {% if True or node.resource_type or request.user.is_staff %}
                              <li id="Sid_{{ node.id }}"><span>{% if not node.resource_type %}<em>{% endif %}{{ node }}{% if node.resource_type %} {% endif %}{% if not node.resource_type %}</em>{% endif %}
                                {% if node.resource_type.created_by == request.user or request.user.is_superuser %}&nbsp; <span class="edit" id="Sid_{{ node.id }}"></span>
                                {% endif %}
                                </span>
                                {% if not node.is_leaf_node %}
                                <ul class="children">
                                  {{ children }}
                                </ul>
                                {% endif %}
                              </li>
                                {% if node.resource_type.created_by == request.user or request.user.is_superuser %}
                                  <script type="text/javascript">
                                    var S_{{ node.id }}_obj = {
                                      "name":"{% if node.resource_type %}{{ node.resource_type.name }}{% else %}{{ node.name }}{% endif %}",
                                      "parent":"{{ node.parent.id }}",
                                      "description":"{{ node.resource_type.description }}",
                                      "context":"{{ node.resource_type.context_agent.id }}",
                                      "unit":"{{ node.resource_type.unit.ocp_unit_type.id }}",
                                      "price":"{% if node.resource_type.price_per_unit %}{{ node.resource_type.price_per_unit }}{% endif %}",
                                      "related":"{{ node.ocp_artwork_type.id }}",
                                      "url":"{{ node.resource_type.url }}",
                                      "photo_url":"{{ node.resource_type.photo_url }}",
                                      "verb":"{{ node.verb }}",
                                      "gerund":"{{ node.gerund }}",
                                      {% if request.user.is_staff %}
                                        {% if not node.facet_value and not node.facet %}"n_desc" : "{{ node.get_descendant_count }}",{% endif %}
                                        {% if node.facet_value %}"fv" : "{{ node.facet_value.value|upper }}",
                                        {% elif node.facet %}"fv" : "{{ node.facet|upper }}",
                                        {% elif node.resource_type.facets %}"fv" : "{{ node.resource_type.facet_values_list }}",{% endif %}
                                      {% endif %}
                                    };
                                  </script>
                                {% endif %}
                              {% endif %}
                              {% endrecursetree %}
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="modal hide fade" id="addSkillTypeModal" tabindex="-1" role="dialog" aria-labelledby="commit" aria-hidden="true"  style="width:590px;">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3><span id="name_action">{% trans "Add a new" %}</span> {% trans "Skill Type:" %}</h3>
                      </div>
                      <div class="modal-body">
                        <form class="validateMe" id="skillForm" enctype="multipart/form-data" action="{% url 'new_skill_type' agent_id=agent.id %}" method="POST" >
                          {% csrf_token %}
                          {% for fil in Stype_form %}
                            <div class="modal-field" {% if fil.name == 'verb' %} style="float:left; margin-right:15px;" {% endif %} >
                              {% if not fil.name == 'edid' %}
                                <label>{{ fil.label }}:</label>
                              {% endif %}
                                {{ fil }}
                              {% if fil.help_text %}<br/><span class="helptext">{{ fil.help_text }}</span>{% endif %}
                            </div>
                          {% endfor %}

                          <!-- <input type="hidden" id="edid" name="edid" value="" /> -->
                          <input type="hidden" id="next" name="next" value="members_agent" />
                          <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <input type="submit" class="btn btn-primary" name="new_skill_type" value="{% trans 'Save' %}" />
                          </div>
                        </form>
                      </div>
                    </div>
                  {% endif %}
              </div>
          {% endif %}

          {% if user_agent in agent.managers or user_is_agent or user_agent in agent.members or request.user.is_staff %}
  	        <div class="span6 assoc infobox" style="width:100%;">
              <h3>
                {% trans "Relations:" %}
              </h3>

              <h4 class="hdg"> {{ agent.name }} {% trans "is associated with" %}: </h4>
              <ul>
                {% for assoc in is_associated_with  %}
                    {% ifchanged assoc.association_type %}
                        <h4> {{ assoc.association_type.label }}: </h4>
                    {% endifchanged %}
                    <li><a href="{% url "members_agent" agent_id=assoc.has_associate.id %}">{{ assoc.has_associate.name }}</a>
                        {% if assoc.state == "potential" %} ({{ assoc.get_state_display }}) {% endif %}
                    </li>
                {% endfor %}
              </ul>
              {% if has_associations %}
                  <h4 class="hdg">{{ agent.name }} {% trans "has these associates" %}: &nbsp; &nbsp;
                  {% if user_agent in agent.managers or user_agent.is_staff %}
                      {% if agent.is_context %}
                        <a href="#agentAssnForm" role="button" class="btn btn-primary btn-mini" data-toggle="modal">{% trans "Edit member relations" %}</a>
                        <div class="modal hide fade" id="agentAssnForm" tabindex="-1" role="dialog" aria-labelledby="assn-label" aria-hidden="true">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                              <h3 id="assn-label">{% trans "Maintain Associates for" %} {{ agent }}</h3>
                          </div>
                          <div class="modal-body">
                              <form id="assnForm" enctype="multipart/form-data" action="{% url "edit_relations" agent_id=agent.id %}" method="POST" >
                                  {% csrf_token %}
                                  {{ assn_form|as_bootstrap }}
                                  <p>
                                       &nbsp;
                                  </p>
                                  <p>
                                       &nbsp;
                                  </p>

                                  <div class="modal-footer">
                                  <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                                  <button class="btn btn-primary">{% trans "Save" %}</button>
                                  </div>
                              </form>
                          </div>
                        </div>
                      {% endif %}
                  {% endif %}
                  </h4>
                  <ul>
                    {% for assoc in has_associations %}
                        {% ifchanged assoc.association_type %}
                            <h4>{{ assoc.association_type.inverse_label }}: </h4>
                        {% endifchanged %}
                        {% if user_agent in agent.managers %}
                          <li><a href="{% url "members_agent" agent_id=assoc.is_associate.id %}">{{ assoc.is_associate.name }}</a>
                            {% with assoc.is_associate.membership_request_id as id %}
                                {% if id %}
                                  {% if user_agent.membership_request_id == id or agent.nick == "FC MembershipRequest" or agent.nick == "Freedom Coop" %}
                                    {% if assoc.state == "potential" %} ({{ assoc.get_state_display }}) {% endif %}
                                    &nbsp;
                                    <a href="{% url 'membership_discussion' membership_request_id=id %}">
                                        {% trans "Membership discussion" %}
                                    </a>
                                  {% endif %}
                                {% endif %}
                            {% endwith %}
                            {% for req in assoc.is_associate.joinaproject_requests %}
                              {% if req.project.agent == agent %}
                                {% if req.id %}
                                    {% if assoc.state == "potential" %} ({{ assoc.get_state_display }} - {{ req.state }}) {% endif %}
                                    &nbsp;
                                    <a href="{% url 'project_feedback' agent_id=agent.id join_request_id=req.id %}">
                                        <b>{% trans "Feedback" %}</b>
                                    </a>
                                {% endif %}
                              {% endif %}
                            {% endfor %}
                          </li>
                        {% elif not assoc.state == "potential" %}
                          <li><a href="{% url "members_agent" agent_id=assoc.is_associate.id %}">{{ assoc.is_associate.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                  </ul>
              {% endif %}

	          </div>
          {% endif %}
          {% if request.user.is_staff %}
              <div class="span6 infobox" style="width:100%;">
                  <h3 class="">{% trans "Active Processes" %}:</h3>
                  {% if agent.active_processes %}
                    <ul>
                        {% for process in agent.active_processes %}
                            <li>
                                <a href="{% url "process_logging" process_id=process.id %}"><b>{{ process }}</b></a>
                            </li>
                        {% endfor %}
                    </ul>
                  {% else %}
                        <p>{% trans "None" %}</p>
                  {% endif %}
              </div>
          {% endif %}
        </div>



      {% if agent.is_individual and agent.need_skills and user.is_staff %}
          <div class="span8">
              <h4 class="hdg"> {% trans "Cumulative Contributions" %}</h4>
              <div id="chart_div0"></div>
          </div>
      {% endif %}

      {% if user_agent in agent.managers or user_is_agent or user_agent in agent.members %}
        {% if False and agent.need_skills %}
        <div class="row-fluid" tyle="margin-bottom:2em;">
          <hr />
          <h3>{% trans "Cumulative Time" %}</h3>
          <div class="row-fluid">
            <div class="span6">
              <h4 class="chart-heading">{% trans "Last 2 months" %}</h4>
              <div id="chart_div1"></div>
            </div>
            <div class="span6">
              <h4 class="chart-heading">{% trans "Forever" %}</h4>
              <div id="chart_div2"></div>
            </div>
          </div>
          <h3>{% trans "Roles" %}</h3>
          <div id="chart_div3"></div>

        </div>
        {% endif %}
      {% endif %}



  {% if agent.project and not user_agent in agent.managers and not agent in user_agent.related_contexts or agent.project in user_agent.joinaproject_requests_projects and not user_agent in agent.members %}
    <div id="join-this-project"  class="span5">
      <h3>
        {% trans "Join this project:" %}
      </h3>
      {% if agent.project.joining_style == "moderated" %}
        {% if user_agent.req %}
            {% if user_agent.req.state == 'declined' %}
              <p>{% trans "Sorry, you've tried to join this project but your request was <b>declined</b> for any reason. See the thread at" %}:
              <b><a href="{% url 'project_feedback' agent_id=agent.id join_request_id=user_agent.req.id %}">{% trans "Your Declined Joining Feedback" %}</a></b> </p>
            {% else %}
              <p>{% trans "This project has a moderated access workflow, and you've requested access to join in. To keep track of the joining process go to" %}: <b><a href="{% url 'project_feedback' agent_id=agent.id join_request_id=user_agent.req.id %}">{% trans "Your Joining Feedback" %}</a></b></p>
            {% endif %}
        {% else %}
          <p>{% trans "This project has a moderated access workflow. Please fill the following form to request access, and then you will have a special feedback page to comunicate with the project coordinators" %}:</p>
          <p> {% if agent.project.fobi_slug %}<b><a href="{% url 'project_joinform' agent_id=agent.id %}" class="btn btn-primary">{% trans "Form to join" %} "{{ agent.name }}"</a></b>{% else %} <em class="alert">{% trans "Sorry, the form is not ready, try tomorrow" %}</em> {% endif %}
          </p>
        {% endif %}
      {% elif agent.project.joining_style == "autojoin" %}
        <div>
          {% trans "You can simply join this project with one click" %}:
            <form
                class="action-form"
                id="join-form"
                action="{% url "join_project" project_id=agent.id %}"
                method="POST" >
                {% csrf_token %}
                <input type="submit" class="btn btn-mini btn-primary" name="submit" value='{% trans "Join" %}' />
            </form>
        </div>
      {% endif %}
    </div>

  {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
    <script src="{% static 'js/jquery.fancytree-all.min.js' %}"></script>
    <script src="{% static 'js/ocp-trees.js' %}"></script>
{% endblock %}


{% block extra_body %}
	{{ block.super }}

    <script type="text/javascript">

    $(document).ready(function(){

        $(".list").hide();
        $(".showhide").click(function(event){
          var id = event.target.id;
          var listId = '#list-' + id.split('-')[1];
          $(listId).slideToggle(200);
          $(this).text($(this).text() == 'HIDE' ? 'SHOW' : 'HIDE');
        });

        /*var ObjChosSingle = {
          allow_single_deselect: true,
          width: "250px",
          disable_search_threshold: 6
        };

        $(".chzn-select, .chzn-select-single").chosen( ObjChosSingle );*/

        $('#projects').addClass('active');

        $( "#help" ).toggle( function(){
                $('#help-content').show("slide", { direction: "right" }, "slow" );
                $( "#help" ).text("Hide Help");
            }, function() {
                $('#help-content').hide("slide", { direction: "right" }, "slow");
                $( "#help" ).text("Show Help");
        });

        $('td.td-role > select').addClass('select-role');
        $('td.td-agent > select').addClass('select-agent');

        if(typeof($.validator) != "undefined"){
          $.validator.addMethod("agentRequired", function (value, element) {
            alert("value " + value + " element " + element);
            //agent = element.closest(".select-agent");
            //alert("agent " + agent);

            return true;
          }, "Both role and agent must be entered.");

          $.validator.addClassRules("select-role", { agentRequired: true });

          jQuery.validator.setDefaults({
            success: function(label) {
              label
              .text('').addClass('valid')
              .closest('.control-group').addClass('success');
            }
          });

          $( "#userForm" ).validate({
              rules: {
                  username: {
                      required: true
                  },
                  password1: {
                      required: true
                  },
                  password2: {
                      required: true,
                      equalTo: "#id_password1"
                  },
              },
              highlight: function(label) {
                  $(label).closest('.control-group').addClass('error');
              },
          });
        };


    }); // end document.ready

    $('.resource-change-form').each( function(){
      var form = $(this);
      form.validate({
        highlight: function(label) {
          $(label).closest('.control-group').addClass('error');
        }

      });
    });

    if(typeof(google) != "undefined"){
        google.load("visualization", "1", {packages:["corechart"]});
        {% if agent.is_individual %}
            if(typeof drawChartIndividualStats != 'undefined') google.setOnLoadCallback(drawChartIndividualStats);
            function drawChartIndividualStats() {
                var data = google.visualization.arrayToDataTable([
                ['Resource Type', 'Quantity'],
                {% for rtype, qty in individual_stats %}
                    ['{{ rtype.name }}',  {{ qty }} ],
                {% endfor %}
                ]);

                var options = {
                vAxis: {title: 'Resource Type',  titleTextStyle: {color: 'red'}},
                chartArea:{width:"80%",height:"80%"}
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div0'));
                chart.draw(data, options);
            }
        {% else %}
            if(typeof drawChart_recent != 'undefined') google.setOnLoadCallback(drawChart_recent);
            function drawChart_recent() {
                var data = google.visualization.arrayToDataTable([
                ['Member', 'Hours'],
                {% for member, hours in member_hours_recent %}
                    ['{{ member }}',  {{ hours }} ],
                {% endfor %}
                ]);

                var options = {
                vAxis: {title: 'Member',  titleTextStyle: {color: 'red'}},
                chartArea:{width:"80%",height:"80%"}
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div1'));
                chart.draw(data, options);
            }

            if(typeof drawChart_stats != 'undefined') google.setOnLoadCallback(drawChart_stats);
            function drawChart_stats() {
                var data = google.visualization.arrayToDataTable([
                ['Member', 'Hours'],
                {% for member, hours in member_hours_stats %}
                    ['{{ member }}',  {{ hours }} ],
                {% endfor %}
                ]);

                var options = {
                vAxis: {title: 'Member',  titleTextStyle: {color: 'red'}},
                chartArea:{width:"80%",height:"80%"}
                };

                var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
                chart.draw(data, options);
            }

            if(typeof drawChart_roles != 'undefined') google.setOnLoadCallback(drawChart_roles);
            function drawChart_roles() {
                var data = new google.visualization.DataTable();
                {% for head in headings %}
                    {% if forloop.first %}
                        data.addColumn('string','{{ head }}');
                    {% else %}
                        data.addColumn('number','{{ head|safe }}');
                    {% endif %}
                {% endfor %}
                var rows = [];
                {% for row in member_hours_roles %}
                    var thisRow = [];
                    {% for cell in row %}
                        {% if forloop.first %}
                            thisRow.push('{{ cell|safe }}');
                        {% else %}
                            thisRow.push({{ cell }});
                        {% endif %}
                    {% endfor %}
                    rows.push(thisRow);
                {% endfor %}
                data.addRows(rows);

                var chart = new google.visualization.BarChart(
                    document.getElementById('chart_div3'));
                chart.draw(data,
                    {
                        'isStacked': true,
                        'legend': 'top',
                        'hAxis': {'title': 'Hours'},
                        'chartArea':{'width': '80%', 'height':'100%'}
                    }
                );
            }
        {% endif %}
    }
    </script>

{% endblock %}
{% endwith %}
