{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">

<title>{{ project.agent.name }} {% trans "Total Distributed Shares" %}</title>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style>

</style>

</head>

<body>

    <div id="shares_div" style="" >
        <span style="">{% trans "Total distributed shares" %}: <b>{{ total_shares }}</b></span><br />
        <span style="">{% trans "Total share holders" %}: <b>{{ total_holders }}</b></span>
    </div>

</body>

    <script type="text/javascript">

    </script>


</html>
