{% extends "work_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load thumbnail %}
{% load staticfiles %}

{% block head_title %}{% trans "Inventory" %}{% endblock %}

{% block extra_head %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="{% static 'css/skin-lion/ui.fancytree.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/chosen.css' %}" />

<style>

.rtype {
  font-size: 1.1em;
  color: #476B6B;
  margin-top: 6px;
}

ul.fancytree-container, .fancytree-treefocus, .fancytree-plain {
  background: none;
  border-style: none;
  border-color: transparent;
}
.fancytree-treefocus span.fancytree-selected span.fancytree-title, span.fancytree-selected span.fancytree-title {
  color:  #734279; /*476B6B;*/
  background: none;
  font-weight: bold;
}
.fancytree-treefocus span.fancytree-active span.fancytree-title {
  background-color: #ccc;
  color: inherit;
}

#category-form {
  margin: 0 0 5px;
}

.span8 {
  margin-left: 0;
  max-width: 738px;
}
.span3 {
  width: auto;
  float: right;
}
.project-resources ul {
  margin-left: 1em;
}

.res {
    /*margin-left: 2em;*/
}
.info {
    margin-left: 6em;
}
ul {
    list-style-type: none;
}
container li {
	padding: 3px;
}
.facet {
    font-size: 1.1em;
    font-weight: bold;
}
img {
    margin-bottom: 2px;
}

.ui-tabs h3 {
  display: inline-block;
  vertical-align: top;
  margin-top: 6px;
}
.ui-tabs {
  border: none;
  background: none;
}
.ui-widget {
  font-size: inherit;
  font-family: inherit;
  padding: inherit;
}
.ui-tabs-nav {
  display: inline-block;
  border: none;
  background: none;
  margin: 0 0 -3px 0 !important;
}
.ui-tabs .ui-tabs-panel {
  border: 1px solid #aaaaaa;
  padding: 6px 5px;
  color: inherit;
  background-color: #f0f0da;
  -moz-border-radius-bottomright: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -khtml-border-bottom-right-radius: 7px;
  border-bottom-right-radius: 7px;

  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -khtml-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;

  margin-top: -1px;
}
.ui-tabs .ui-tabs-nav li {
  margin-bottom: 1px;
  font-size: 1.1em;
  background-color: #f0f0da;
}
.ui-tabs-nav a {
  color: inherit;
}
.ui-widget-content a {
  color: inherit;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #734279;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #476B6B;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: none;
  background-color: #f0f0da;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -3px;
    padding-bottom: 3px;
}


.modal .helptext {
  font-style: italic;
  padding-bottom: 10px;
  display: block;
  font-size: 0.9em;
}

</style>
{% endblock %}

{% block body_class %}resources{% endblock %}

{% block body_base %}
  <div class="container">
      {% include "_messages.html" %}

	    <legend>
          <a class="indent" href="{% url 'members_agent' agent_id=agent.id %}">{{ agent.name }}</a> > {% trans "Resources" %}
			    <!-- &nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url "resource_types" %}">{% trans "Resource Types" %}</a>
			    &nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url "locations" %}">{% trans "Locations" %}</a> -->

        <div class="subnav">
          {% if request.user.is_staff or request.user.agent.agent in agent.managers %}
              <a class="indent" href="{% url "exchanges_all" agent_id=agent.id %}">{% trans "Exchanges" %}</a>
          {% endif %}
          <a class="indent" href="{% url "your_projects" %}">{% trans "Your Projects" %}</a>
        </div>
	    </legend>
      {{ rtype }}

      <div class="span8 project-resources" id="tabs">
        <h3>
          {% trans "Inventory:" %}
        </h3>
        &nbsp;
        <ul>
            <li><a href="#by_type"><b>by Type</b></a></li>
            <li><a href="#by_relation"><b>by Relation</b></a></li>
        </ul>
        <div id="by_type" class="infobox">
          <ul class="root">
            {% for rt in resource_types %}
              <li><h4><a href="{% url "resource_type" resource_type_id=rt.id %}">{{ rt.name }}</a> ( {{ rt.facet_list }} ) </h4>
                <ul>
                {% for resource in rt.items %}
                    <li><div class="res">
                     <a href="{% url "project_resource" agent_id=agent.id resource_id=resource.id %}" title="
                        {{ resource.notes }}
                        {{ resource.access_rules }}
                        ">{{ resource.label }}
                    </a>
		             {% if resource.photo %}
		            	<img src="{% thumbnail resource.photo photo_size %}" />
	            	 {% elif resource.photo_url %}
		            	<img src="{{ resource.photo_url }}" width="128" height="96" />
                    {% endif %}
                    {% if resource.stage %}
                        ~ Stage: {{ resource.stage }}
                    {% endif %}
                    ~ {{ resource.quantity }} {{ resource.unit_of_quantity }}
                    {% if resource.current_location %}
                        ~ Location: {{ resource.current_location }}
                    {% endif %}
                    {% if resource.agent_resource_roles.all %}
                        {% for item in resource.agent_resource_roles.all %}
                            ~ {{ item.role.name }}: {{ item.agent.nick }}
                        {% endfor %}
                    {% endif %}

                    {% if resource.url %}
                        ~ <a href="{{ resource.url }}">{% trans "Documentation" %}</a>
                    {% endif %}
                    </div></li>
                    {% comment %}<div class="info">Quality: {{ resource.quality }} </div>{% endcomment %}
                {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div id="by_relation" class="infobox">
          <ul class="root">
            {% for rel in agent.resource_relationships %}
              {% ifchanged rel.role %}
                {% if not rel = agent.resource_relationships|first %}</ul></li>{% endif %}
                <li><h4>{{ rel.role.name }} </h4><ul>
              {% endifchanged %}
              <li>
                <a href="{% url "project_resource" agent_id=agent.id resource_id=rel.resource.id %}"> {{ rel.resource }}</a>
              </li>
            {% endfor %}
            </ul></li>
          </ul>
        </div>
		  </div>

		  <div class="span4 filter miniform">

        {% include "work/_treetypes_filter.html" %}

		  </div>
{% endblock %}
{% block extra_script %}
    <!-- <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	  <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
    <script src="{% static 'js/jquery.fancytree-all.min.js' %}"></script>
    <script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}
{% block extra_body %}
	{{ block.super }}
    <script type="text/javascript">

      Array.prototype.unique = function() {
          var a = this.concat();
          for(var i=0; i<a.length; ++i) {
              for(var j=i+1; j<a.length; ++j) {
                  if(a[i] === a[j])
                      a.splice(j--, 1);
              }
          }

          return a;
      };

	$(document).ready(function(){

    var selectedCats = "{{ selected_values }}";

    $(".chzn-select").chosen();

    $('.category').each(function(){
        var cat = $(this);//[0];
        var selarr = selectedCats.split(',');
        for( var sel in selarr){
          var ide = selarr[sel]; //alert(str);//cat.parent().text()+'  :::  '+sar);
          if( typeof ide === 'string' ){
            //cat.parentsUntil('.root').parent().fancytree("getTree").activateKey(ide);
            $('li#'+ide).addClass('selected').parents('li').not('.selected').addClass('expanded');
          }
        }
		});

    $('#material, #nonmaterial, #services, #contexts').fancytree({
      checkbox: true,
      selectMode: 3, // 1:single, 2:multi, 3:multi-hier
      icon: false,
      /*dblclick: function(event, data) {
        data.node.toggleSelected();
      },
      keydown: function(event, data) {
        if( event.which === 32 ) {
          data.node.toggleSelected();
          return false;
        }
      },*/
      renderNode: function(event, data) {
        // Optionally tweak data.node.span
        //    $(data.node.span).text(">>" + data.node.title);
        //logEvent(event, data);
        $('span.fancytree-checkbox').addClass('category');
        var cat = $(data.node);
        var selarr = selectedCats.split(',');
        for( var sel in selarr){
            if (data.node.title.indexOf(selarr[sel]) != -1) {
                //alert(data.node.title+'  :::  '+selarr[sel]+'  :::  '+(data.node.title.indexOf(selarr[sel]) != -1));
                cat.find('> .fancytree-checkbox').click();
            }
        }
      },
      select: function(event, data) {
        $('#all').prop('checked', false);
        var checkedCats = [];
        var nodes = data.tree.getSelectedNodes();
        for(var n in nodes) {
          //alert(nodes[n].key);
          if(typeof nodes[n].key != 'undefined') {
            checkedCats.push(nodes[n].key);
          };
        }
        $('#categories').prop('value', checkedCats.unique());
      },
      /*create: function(event, data) {
        $('span.fancytree-checkbox').addClass('category');
        //logEvent(event, data);
      },*/
      init: function(event, data, flag) {
        //$('span.fancytree-checkbox').addClass('category');
        //logEvent(event, data, "flag=" + flag);
      },
      /*focusTree: function(event, data) {
        $('span.fancytree-checkbox').addClass('category');
        //logEvent(event, data);
      },
      beforeActivate: function(event, data) {
        //logEvent(event, data, ", targetType=" + data.targetType);
        // return false to prevent default behavior (i.e. activation, ...)
        //return false;
        $('#all').prop('checked', false);
      },*/
    });
    //$('span.fancytree-checkbox').addClass('category');

    $('#by_type, #by_relation').fancytree({
      minExpandLevel: 1, // 1: root node is not collapsible
      clickFolderMode: 2, // 1:activate, 2:expand, 3:activate and expand, 4:activate (dblclick expands)
      selectMode: 1,
      focusOnSelect: false,
      autoActivate: false,
    }).find('.ui-fancytree > li').each(function(){
      $(this).find('> span > .fancytree-expander').click();
      $(this).find('> span > .fancytree-icon').hide();
    });
    //$('#by_type .ui-fancytree > li .fancytree-expander, #by_relation .ui-fancytree > li .fancytree-expander').click();

    $('#tabs').tabs({
      classes: {
        "ui-tabs": "",
        "ui-tabs-panel": "ui-corner-all infobox"
      }
    });

		$('#inventory').addClass('active');

		$( "#help" ).toggle( function(){
            $('#help-content').show("slide", { direction: "right" }, "slow" );
            $( "#help" ).text("Hide Help");
        }, function() {
            $('#help-content').hide("slide", { direction: "right" }, "slow");
            $( "#help" ).text("Show Help");
    });



    var checkedCats = [];
		$('.category').click(function(){

        var checkedBox = $(this)[0];
        var allBox = $('#all')[0];
        if (checkedBox == allBox) {
            $('.category').each(function(){
		            $(this).prop('checked', false);
				    });
            checkedCats = [];
            $('.fancytree-selected .fancytree-checkbox').click();
				    $('#all').prop('checked', true);
				    checkedCats.push('all');
			  }

			  $('#categories').attr('value', checkedCats);
		});

	}); // end document.ready

    </script>
{% endblock %}
