
{% load staticfiles %}
{% load i18n %}
{% load bootstrap_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>{% trans "LearnDeep Log In" %}</title>

    {% block extra_head %}

    <style>

        body {
            /*font-family: Arial, sans-serif;
            width: 600px;*/
            margin: 0 auto;
        }

        .btn {
            padding-top: 2px;
            padding-bottom: 3px;
            font-weight: bold;
        }


    </style>

    {% endblock %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" media="all">
    <link rel="stylesheet" href="{% static 'css/coop.css' %}">
    <!-- <link href="{% static "css/buttons.css" %}" rel="stylesheet"> -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <!-- <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet"> -->

</head>


<body style="background-image: url({% static 'img/photo-OCP-1600x900_green.jpg' %}); text-align:center;">
<p>&nbsp;</p>

<form action="{% url 'set_language' %}" method="post" id="lang-switch">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
            {{ language.name_local }}
        </option>
        {% endfor %}
    </select>
    <!-- <input type="submit" value="Go" id="lang-submit" style="display:none;"/> -->
</form>

<h4><img height="200" src="{% static 'img/LD_collab.jpg' %}" title="{% trans "LearnDeep Collaborating" %}"></h4>
<h1>{% trans "Value Network" %}</h1>
<table class="landing" border="0" align="center" style="text-align:center">
    <tr>
        <td colspan="2"><p>
            <p>{% trans "This is the existing network management utility used by LearnDeep for their Value Network" %}</p>
            <p>{% trans "Its uses include:" %}</p>
            <ul>
                <li>{% trans "Creating and managing user agents" %}</li>
                <li>{% trans "Plan projects from a variety of templates, or 'recipes'" %}</li>
                <li>{% trans "Account the time spent by every member of a project and share payment fairly" %}</li>
                <li>{% trans "Track inventory online and browse other members' inventories" %}</li>
                <li>{% trans "Network with other groups in the area to share resources" %}</li>
            </ul>
            <p>{% trans "All of these benefits help define the next economy for schools and makerspaces" %}</p>
            </p></td>
    </tr>
    <tr>
        <td width="50%" class="login-block">
            <h3>{% trans "Log in to the OCP" %}</h3>
            <p>{% trans "If you already have a username and password, login here." %}</p>
            <div class="log">
                <form method="POST" action="{% url "account_login" %}" autocapitalize="off" class="form-horizontal"{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
                {% csrf_token %}
                {{ form|as_bootstrap }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class="form-actions">
                    <a href="{% url "account_password_reset" %}" class="forgot-pass">{% trans "Forgot your password?" %}</a>
                    <button type="submit" class="btn btn-primary">{% trans "Log in" %}</button>
                </div>
                </form>
            </div>
            <div class="span4">
                {% include "account/_login_sidebar.html" %}
            </div>
        </td>
    </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
