{% extends "work_base.html" %}


{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block body %}
    <form method="POST" action="">
        <legend>
            <a href="{% url 'profile' %}">{{ request.user.agent.agent.name }}</a> >
            <a href="{% url "work_account_settings" %}">{% trans "Settings" %}</a> >
            {% trans "Change password" %}
        </legend>
        <fieldset>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
