{% extends "work_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}
{% load staticfiles %}

{% block head_title %}{% trans "OCP Settings" %}{% endblock %}

{% block body %}
    <legend>
        <a class="indent" href="{% url 'profile' %}">{{ request.user.agent.agent.name }}</a> > {% trans "Settings" %}

        <div class="subnav">
            <a class="indent" href="{% url "work_account_password" %}" >{% trans "Change password" %}</a>
            {% if request.user.agent.agent.faircoin_resource %}
              <a class="indent" href="{% url "manage_faircoin_account" resource_id=request.user.agent.agent.faircoin_resource.id %}"
                          title="{% trans 'Your personal faircoin wallet in OCP' %}"
                          >{% trans 'Faircoin Account' %}</a>
            {% endif %}
            {% with request.user.agent.agent.membership_request.id as id %}
                   {% if id %}
                      <a class="indent" href="{% url 'membership_discussion' membership_request_id=id %}"
                        title="{% trans 'Your coop feedback page' %}">
                          {% if request.user.agent.agent.is_active_freedom_coop_member %}
                            {% trans "Coop Feedback" %}
                          {% else %}
                            {% trans 'Membership Process' %}
                          {% endif %}
                        </a>
                   {% endif %}
            {% endwith %}
        </div>
    </legend>
    <form method="POST" action="{% url "work_account_settings" %}">
        {% csrf_token %}
        {{ form|as_bootstrap }}
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        <hr />
        <div class="">
            <p><a href="{% url "work_account_password" %}" class="btn btn-primary" >{% trans "Change password" %}</a></p>
        </div>
    </form>
{% endblock %}

{% block extra_script %}
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="{% static 'js/chosen.jquery.js' %}"></script>
{% endblock %}
{% block extra_body %}
    <script type="text/javascript">
	    $(document).ready(function(){

            var ObjChos = {
              //allow_single_deselect: true,
              width: "290px",
              no_results_text: "Oops, nothing found!",
              max_selected_options: 1,
              disable_search_threshold: 6,
            };

            //$(".chzn-select").chosen(ObjChos);

        });
    </script>
{% endblock %}
