{% extends "work_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Fairpay transactions list" %}: {{ fairpay_user }}{% endblock %}

{% block body_base %}
  <div class="container">
    <table class="table table-condensed table-striped centered">
      <caption style="text-align:left;">{{ table_caption }}</caption>
      <thead>
        <tr>
          {% for header in table_headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
          {% for row in table_rows %}
            <tr>
              {% for td in row %}
                <td>{{ td }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
    </table>
  </div>
{% endblock %}
