{% extends "work_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Multicurrency authentication: " %}{{ agent.name }}{% endblock %}

{% block body_base %}

  <div class="container">
    <legend>
      <a class="indent" href="{% url 'members_agent' agent_id=agent.id %}">{{ agent.name }}</a> >
	        {% trans "Multicurrency-wallet Access" %}
      <div class="subnav">

      </div>
    </legend>
    {% include "_messages.html" %}
    <div class="infobox span6">
    <h3>{% trans "Muticurrency-wallet users for" %} {{ agent.name }}</h3>
      <table class="table" style="">
        <thead>
          <tr>
            <th class="span8">ChipChap User</th>
            <th class="span2"></th>
            <th class="span2"></th>
          </tr>
        {% for oauth in oauths %}
          <tr>
            <td><strong>{{ oauth.auth_user }}</strong></td>
            <td style="text-align:right;">
              <a class="btn btn-primary" href="{% url 'multicurrency_history' agent_id=agent.id oauth_id=oauth.id %}">
                {% trans 'Access' %}
              </a>
            </td>
            <td style="text-align:right;">
              <form id="deleteForm" class="validateMe" action="{% url 'multicurrency_deleteauth' agent_id=agent.id oauth_id=oauth.id %}" method="POST" >
                  {% csrf_token %}
                  {{ delete_form }}
                  <input type="submit" name="submit" value="{% trans "Log Out" %}" class="btn btn-primary btn-mini" />
              </form>
            </td>
          </tr>
        {% empty %}
          <tr><td colspan="3"><p>{% trans "You don't have any ChipChap authenticated user in ocp yet." %}<br />
            {% trans "If you already have any access to ChipChap's panel, use the form below to authenticate." %}<br />
            {% trans "If you don't have any access to ChipChap's panel, create one by clicking this button:" %}<br /><br />

            <a href="#create-chipchap-user" role="button" class="btn btn-primary" data-toggle="modal">{% trans "Create new ChipChap user" %}</a>

            <div class="modal hide fade" id="create-chipchap-user" tabindex="-1" role="dialog" aria-labelledby="agent-label" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="agent-label">{% trans "Create New ChipChap User" %}</h3>
                </div>
                <div class="modal-body">
                    <form id="createForm" class="createMe" action="{% url 'multicurrency_createauth' agent_id=agent.id %}" method="POST" onsubmit="return validateRepassword()">
                        {% csrf_token %}
                        {{ create_form|as_bootstrap }}
                        <div id="div_id_repassword" class="control-group ">
                          <label class="control-label required-field" for="id_repassword">{% trans "Confirm password" %}</label>
                          <div class="controls">
                            <input id="id_repassword" name="repassword" required="" maxlength="32" type="password">
                          </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
                            <input type="submit" class="btn btn-primary" name="submit" value='{% trans "Create ChipChap User" %}' />
                        </div>
                    </form>
                </div>
            </div>

          </td></tr>
        {% endfor %}
      </table>
    </div>
    <br /><br />
    <div class="span6 miniform" style="margin-left:0">
      <h3>{% trans "Authenticate an existing user in ChipChap" %}:</h3>
      <form id="oauthForm" class="validateMe" action="." method="POST" >
          {% csrf_token %}
          {{ oauth_form|as_bootstrap }}
          <input type="submit" name="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
      </form>
      <p><small class="muted">
        {% trans "By submitting your ChipChap user/password you give permission to this site to access (read-only) to your wallet." %}<br />
        {% trans "Your password won't be stored, it's just necessary to check your identity in ChipChap system." %}
      </small></p>
    </div>
  </div>
  <script type="text/javascript">
      function validateRepassword() {
        var pass1 = document.getElementById("id_password").value;
        var pass2 = document.getElementById("id_repassword").value;
        var ok = true;
        if (pass1 != pass2) {
          alert("Passwords Do not match");
          document.getElementById("id_repassword").style.borderColor = "#E34234";
          ok = false;
        }
        return ok;
      }
  </script>
{% endblock %}
