{% extends "work_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Multicurrency authentication: " %}{{ agent.name }}{% endblock %}

{% block body_base %}

  <div class="container">
    <legend>
      <a class="indent" href="{% url 'members_agent' agent_id=agent.id %}">{{ agent.name }}</a> >
	        {% trans "Multicurrency-wallet Access" %}
      <div class="subnav">

      </div>
    </legend>
    {% include "_messages.html" %}
    <div class="infobox span6">
    <h3>{% trans "Muticurrency-wallet users for" %} {{ agent.name }}</h3>
      <table class="table" style="">
        <thead>
          <tr>
            <th class="span8">ChipChap User</th>
            <th class="span2"></th>
            <th class="span2"></th>
          </tr>
        {% for oauth in oauths %}
          <tr>
            <td><strong>{{ oauth.auth_user }}</strong></td>
            <td style="text-align:right;">
              <a class="btn btn-primary" href="{% url 'multicurrency_history' agent_id=agent.id oauth_id=oauth.id %}">
                {% trans 'Access' %}
              </a>
            </td>
            <td style="text-align:right;">
              <form id="deleteForm" class="validateMe" action="{% url 'multicurrency_deleteauth' agent_id=agent.id oauth_id=oauth.id %}" method="POST" >
                  {% csrf_token %}
                  {{ delete_form }}
                  <input type="submit" name="submit" value="{% trans "Log Out" %}" class="btn btn-primary btn-mini" />
              </form>
            </td>
          </tr>
        {% empty %}
          <tr><td colspan="3"><p>{% trans "You don't have any authenticated user." %}<br />
            {% trans "Use the form below to add an access." %}<br />
            {% trans "If you don't have any access to ChipChap's panel, create it by clicking" %} <a href="https://fairpay.fairtoearth.com" target="_blank" ><b>HERE</b></a> <br />{% trans "...and come back to add your access below." %}
          </td></tr>
        {% endfor %}
      </table>
    </div>
    <br /><br />
    <div class="span6 miniform" style="margin-left:0">
      <h3>{% trans "Authenticate another user in ChipChap" %}:</h3>
      <form id="oauthForm" class="validateMe" action="." method="POST" >
          {% csrf_token %}
          {{ oauth_form|as_bootstrap }}
          <input type="submit" name="submit" value="{% trans 'Submit' %}" class="btn btn-primary" />
      </form>
      <p><small class="muted">
        {% trans "By submitting your ChipChap user/password you give permission to this site to access to your ChipChap wallet." %}<br />
        {% trans "Your password won't be stored, it's just necessary to check your identity in ChipChap." %}
      </small></p>
    </div>
  </div>
{% endblock %}
